<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
        <link href="assets/css/style.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gassets.com" />
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet" />
        <title>Classififeds_serach_results</title>
    </head>

    <body>
        <div class="container mx-auto">
            <!-- Navigation Start -->
            <nav class="py-12 hidden lg:block f-s-s-p">
                <div class="flex items-center justify-between w-full">
                    <div class="flex items-center">
                        <div>
                            <a href="./index.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                    <g id="Logo">
                                        <circle id="Oval" cx="20" cy="20" r="20" fill="url(#paint0_linear)" />
                                        <path id="L" d="M26.8838 30L27.1299 24.4355H26.542C25.6807 28.3184 24.4775 29.0156 20.8545 29.1523L18.1064 29.2617V12.7871C18.1064 11.4609 18.3662 11.1191 20.3623 10.9004V10.2578H13.0752V10.9004C14.9072 11.1191 15.1533 11.3926 15.1533 12.6094V27.6484C15.1533 28.8516 14.9072 29.1387 13.0752 29.3574V30H26.8838Z" fill="white" />
                                    </g>
                                    <defs>
                                        <linearGradient id="paint0_linear" x1="0" y1="0" x2="0" y2="40" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#667EEA" />
                                            <stop offset="1" stop-color="#4C51BF" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                        <div class="flex items-center pl-10 cursor-pointer">
                            <p class="text-sm dark-blue font-semibold">View all categories</p>
                            <div class="pl-2 mt-1 dark-blue">
                                <div data-menu1 class="cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Show" class="icon  block icon-tabler icon-tabler-chevron-down" id="andicators2" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Hide" class="icon icon-tabler hidden icon-tabler-chevron-up" id="andicators3" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <polyline points="6 15 12 9 18 15" />
                                    </svg>
                                </div>
                                <ul class="bg-white p-4 shadow-lg hidden duration-300 opacity-100 absolute z-30 -ml-24" id="listHolder1">
                                    <li class="hover:opacity-75 mt-1">All Category</li>
                                    <li class="hover:opacity-75 mt-1">Mobile Phone</li>
                                    <li class="hover:opacity-75 mt-1">Tablets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div>
                            <ul class="cursor-pointer flex items-center text-sm light-gray font-semibold">
                                <li class="hover:opacity-75">Mobile phones</li>
                                <li class="pl-10 cursor-pointer hover:opacity-75">Houses</li>
                                <li class="pl-10 cursor-pointer hover:opacity-75">Electronics</li>
                                <li class="pl-10 cursor-pointer hover:opacity-75">Tablets</li>
                            </ul>
                        </div>
                        <div class="pl-12 flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                    <path d="M31.5 21L27 16.5H16.5C15.6716 16.5 15 15.8284 15 15V6C15 5.17157 15.6716 4.5 16.5 4.5H30C30.8284 4.5 31.5 5.17157 31.5 6V21" stroke="#718096" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M21 22.5V25.5C21 26.3284 20.3284 27 19.5 27H9L4.5 31.5V16.5C4.5 15.6716 5.17157 15 6 15H9" stroke="#718096" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="pl-10 flex items-center">
                                <div class="flex items-center">
                                    <div class="w-12 h-12 bg-cover rounded-md mr-3">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/avatars/a_5.png" alt="" class="rounded-full h-full w-full overflow-hidden shadow" />
                                    </div>
                                    <div class="flex relative items-center" data-menu3>
                                        <ul class="cursor-pointer p-2 w-40 border-r bg-white absolute rounded z-40 right-0 shadow mt-10 hidden top-0" id="listHolder3">
                                            <li class="cursor-pointer text-light-gray text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                                                <div class="flex items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" />
                                                        <circle cx="12" cy="7" r="4" />
                                                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                                    </svg>
                                                    <span class="ml-2">My Profile</span>
                                                </div>
                                            </li>
                                            <li class="cursor-pointer text-light-gray text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" />
                                                    <circle cx="12" cy="12" r="9" />
                                                    <line x1="12" y1="17" x2="12" y2="17.01" />
                                                    <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                                                </svg>
                                                <span class="ml-2">Help Center</span>
                                            </li>
                                            <li class="cursor-pointer text-light-gray text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" />
                                                    <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                                    <circle cx="12" cy="12" r="3" />
                                                </svg>
                                                <span class="ml-2">Account Settings</span>
                                            </li>
                                        </ul>
                                        <div class="cursor-pointer text-light-gray">
                                            <svg id="andicators6" xmlns="http://www.w3.org/2000/svg" class=" icon icon-tabler icon-tabler-chevron-down" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" />
                                                <polyline points="6 9 12 15 18 9" />
                                            </svg>
                                            <svg id="andicators7" xmlns="http://www.w3.org/2000/svg" class="hidden icon icon-tabler icon-tabler-chevron-up" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" />
                                                <polyline points="6 15 12 9 18 15" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-10">
                                <button class="py-3 px-8 bg-purple line-height14 text-white text-sm focus:outline-none hover:opacity-75">Post Ad</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Mobile Responsive -->
            <nav class="lg:hidden">
                <div class="flex py-2 justify-between items-center px-4 py-6">
                    <a href="./index.html"> <img src="https://cdn.tuk.dev/assets/templates/classified/Logo2.png" /> </a>
                    <div class="visible flex items-center">
                        <ul id="list" class="hidden p-2 border-r bg-white absolute rounded top-0 left-0 right-0 shadow mt-20 md:mt-20 z-20">
                            <li class="flex cursor-pointer light-gray text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                                <a href="#">
                                    <span class="ml-2 font-bold">Mobile Phones</span>
                                </a>
                            </li>
                            <li class="flex flex-col cursor-pointer light-gray text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                <a href="#">
                                    <span class="ml-2 font-bold">Automobiles</span>
                                </a>
                            </li>
                            <li class="flex cursor-pointer light-gray text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                                <a href="#">
                                    <span class="ml-2 font-bold">Houses</span>
                                </a>
                            </li>
                            <li class="flex flex-col cursor-pointer light-gray text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                <a href="#">
                                    <span class="ml-2 font-bold">Electronics</span>
                                </a>
                            </li>
                            <li class="flex flex-col cursor-pointer light-gray text-sm leading-3 tracking-normal pt-2 pb-4 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                <a href="#">
                                    <span class="ml-2 font-bold">Tablets</span>
                                </a>
                            </li>
                        </ul>
                        <div class="xl:hidden">
                            <svg id="open" onclick="MenuHandler(true)" aria-haspopup="true" aria-label="Main Menu" xmlns="http://www.w3.org/2000/svg" class="show-m-menu icon icon-tabler icon-tabler-menu" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <line x1="4" y1="8" x2="20" y2="8"></line>
                                <line x1="4" y1="16" x2="20" y2="16"></line>
                            </svg>
                            <div id="close" class="hidden close-m-menu" onclick="MenuHandler(false)">
                                <svg aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <line x1="18" y1="6" x2="6" y2="18" />
                                    <line x1="6" y1="6" x2="18" y2="18" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Mobile Responsive -->
            <!-- Navigation End -->
            <!-- search -->
            <div class="lg:flex w-full items-center py-2 lg:pt-16 lg:px-0 px-4">
                <div class="w-full lg:w-1/4">
                    <div class="relative w-full border-dark-gray border z-0">
                        <div class="absolute bg-chat border-t border-l border-r -r border-t border-b bg-chat-border cursor-pointer text-gray-700 flex items-center right-0 h-full lg:p-4 p-3" data-menu2>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-label="Show" class="icon  block icon-tabler icon-tabler-chevron-down" id="andicators4" width="24" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-label="Hide" class="icon hidden icon-tabler icon-tabler-chevron-up" id="andicators5" width="24" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <polyline points="6 15 12 9 18 15" />
                            </svg>
                            <ul class="bg-white p-4 shadow-lg hidden duration-300 opacity-100 mt-28 absolute z-40 -ml-20" id="listHolder2">
                                <li class="hover:opacity-75 mt-1">All Category</li>
                            </ul>
                        </div>
                        <div class="absolute text-black flex items-center pl-6 h-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 28 28" fill="none">
                                <circle cx="11.6667" cy="11.6667" r="8.16667" stroke="#4A5568" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M24.5 24.5L17.5 17.5" stroke="#4A5568" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <input id="search" class="w-full text-light-gray focus:outline-none focus:border font-normal pl-16 pr-16 py-3 flex items-center text-sm placeholder-black" placeholder="Search" />
                    </div>
                </div>
                <div class="flex justify-center items-center lg:ml-8 lg:mt-0 mt-4">
                    <button class="py-3 px-6 bg-purple border border-dark-blue hover:opacity-75 text-white text-sm mr-4 focus:outline-none f-s-s-p">Search</button>
                    <button class="py-3 px-6 bg-transparent border border-dark-blue purple text-sm focus:outline-none hover:opacity-75 f-s-s-p">Advance Search</button>
                </div>
            </div>
            <!-- search -->
            <h4 class="light-gray text-xs font-normal lg:pt-24 pt-10 lg:px-0 px-4">Home/Mobiles/Mobile Phones/Mobile Phones in Islamabad Capital Territory/Mobile Phones in IslamabadMobile Phones in I-14/</h4>
            <div class="lg:flex lg:px-0 px-4">
                <div class="lg:w-1/3">
                    <h4 class="text-xl font-semibold dark-gray pt-1.5">‘OnePlus 5T’ in Mobile phones</h4>
                    <div class="bg-light-gray mt-6 p-5">
                        <h4 class="text-xl font-semibold dark-gray pt-1.5">Jump to</h4>
                        <div>
                            <ul class="cursor-pointer dark-gray">
                                <li class="mt-5 mb-4 text-base inner-hover">
                                    <a> Product description</a>
                                </li>
                                <li class="mb-4 text-base inner-hover">
                                    <a>Seller information</a>
                                </li>
                                <li class="mb-4 text-base inner-hover">
                                    <a>Additional details</a>
                                </li>
                                <li class="mb-6 text-base inner-hover">
                                    <a> Sellers comments</a>
                                </li>
                                <li class="mb-6 text-base inner-hover">
                                    <a> Similar ads</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:pl-16 pt-14">
                    <div class="w-full border border-inner">
                        <div class="lg:p-6">
                            <div class="lg:flex">
                                <div class="lg:w-2/4 h-full lg:h-64">
                                    <div class="relative w-full h-64">
                                        <div class="w-full h-full">
                                            <div class="slider lg:relative w-full">
                                                <div class="slide-ana lg:relative">
                                                    <div class="w-full relative">
                                                        <img src="https://cdn.tuk.dev/assets/templates/classified/Mask.png" class="w-full" />
                                                    </div>
                                                    <div class="w-full relative">
                                                        <img src="https://cdn.tuk.dev/assets/templates/classified/Mask.png" class="w-full" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex items-center inset-0 absolute justify-between px-2">
                                                <div class="w-6 h-6 relative bg-white rounded-full flex inset-0 items-center justify-center cursor-pointer" id="prev">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                        <polyline points="15 6 9 12 15 18" />
                                                    </svg>
                                                </div>

                                                <div class="w-6 h-6 relative bg-white rounded-full flex inset-0 items-center justify-center cursor-pointer" id="next">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                        <polyline points="9 6 15 12 9 18" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-between h-16 relative bg-dark-gray">
                                        <div class="flex items-center justiy-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <polyline points="15 6 9 12 15 18" />
                                            </svg>
                                        </div>
                                        <div class="flex">
                                            <img src="https://cdn.tuk.dev/assets/templates/classified/Rectangle.png" class="mr-1" />
                                            <img src="https://cdn.tuk.dev/assets/templates/classified/Rectangle-Copy-4.png" class="mr-1" />
                                            <img src="https://cdn.tuk.dev/assets/templates/classified/Rectangle-Copy-5.png" class="mr-1" />
                                            <img src="https://cdn.tuk.dev/assets/templates/classified/Rectangle-Copy-6.png" class="mr-1" />
                                            <img src="https://cdn.tuk.dev/assets/templates/classified/Rectangle-Copy-7.png" />
                                        </div>
                                        <div class="flex items-center justiy-end">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <polyline points="9 6 15 12 9 18" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-6 pr-8">
                                    <h1 class="text-2xl font-semibold dark-gray lg:mt-0 mt-4">IPhone 11 Pro</h1>
                                    <p class="text-xs line-height-18 light-gray py-3">
                                        Duis congue mattis odio, a posuere urna feugiat id. Praesent id est tellus. Sed mollis ex at dapibus hendrerit. Curabitur efficitur nulla at finibus suscipit. Duis efficitur lobortis diam vitae egestas.
                                        <br />
                                        <br />
                                        Duis congue mattis odio, a posuere urna feugiat id. Praesent id est tellus. Sed mollis ex at dapibus hendrerit. Curabitur efficitur nulla at finibus suscipit. Duis efficitur lobortis diam vitae egestas.
                                    </p>
                                    <div class="flex mt-4">
                                        <div>
                                            <p class="text-xs light-gray px-2 bg-dark-gray py-1">12 months warranty</p>
                                        </div>
                                        <div class="pl-2">
                                            <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                        </div>
                                        <div class="pl-2">
                                            <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                        </div>
                                    </div>
                                    <div class="flex mt-4">
                                        <div>
                                            <p class="text-xs light-gray px-2 bg-dark-gray py-1">12 months warranty</p>
                                        </div>
                                        <div class="pl-2">
                                            <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                        </div>
                                        <div class="pl-2">
                                            <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-between mt-8 py-4">
                                        <h2 class="purple text-sm font-semibold">Bay Area, San Francisco</h2>
                                        <h3 class="purple text-3xl font-semibold">$350</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-4 w-full bg-light-gray">
                        <div class="lg:flex justify-between">
                            <div class="pl-5 py-5">
                                <h1 class="text-xl font-semibold dark-gray">Seller information</h1>

                                <div class="flex items-center py-5">
                                    <img src="https://images.unsplash.com/photo-1521132293557-5b908a59d1e1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=127&q=80" class="w-12 h-12 rounded-full" />
                                    <div class="ml-4">
                                        <h3 class="text-sm dark-gray">Thomas Geller</h3>
                                        <p class="text-xs light-gray">Joined on 12 September 2020</p>
                                    </div>
                                </div>

                                <div class="flex justify-center items-center lg:mt-0 mt-4">
                                    <a href="./chats.html"> <button class="py-2 px-6 bg-light-blue text-white text-sm mr-4 focus:outline-none hover:opacity-75">Chat With Thomas</button></a>
                                    <a href="./chats.html"> <button class="py-2 px-6 bg-transparent border border-light-blue light-blue text-sm hover:opacity-75 focus:outline-none">Call Thomas</button></a>
                                </div>
                            </div>
                            <div class="lg:w-60 lg:mt-0 mt-4">
                                <img src="https://cdn.tuk.dev/assets/templates/classified/map.png" class="h-full w-full" />
                            </div>
                        </div>
                    </div>
                    <div class="my-4 w-full border-inner border p-5">
                        <h1 class="text-xl font-semibold dark-gray">Additional details</h1>

                        <div class="lg:flex justify-between items-center mt-5">
                            <div class="lg:w-1/3">
                                <div>
                                    <div class="flex text-sm light-gray">
                                        <h4 class="light-gray mr-2">Brand:</h4>

                                        <h4>Iphone</h4>
                                    </div>
                                    <div>
                                        <div class="flex text-sm light-gray my-4">
                                            <h4 class="light-gray mr-2">Color:</h4>

                                            <h4>Black</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lg:w-1/3">
                                <div>
                                    <div class="flex text-sm light-gray">
                                        <h4 class="light-gray mr-2">Condition:</h4>

                                        <h4>Mint Condition</h4>
                                    </div>
                                    <div>
                                        <div class="flex text-sm light-gray my-4">
                                            <h4 class="light-gray mr-2">Additional Items:</h4>

                                            <h4>Phone Cover and Pouch</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lg:w-1/3">
                                <div>
                                    <div class="flex text-sm light-gray">
                                        <h4 class="light-gray mr-2">Owner:</h4>

                                        <h4>First owner</h4>
                                    </div>
                                    <div>
                                        <div class="flex text-sm light-gray my-4">
                                            <h4 class="light-gray mr-2">Used For:</h4>

                                            <h4>8 months</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-4 w-full border-inner border p-5">
                        <h1 class="text-xl font-semibold dark-gray">Sellers Comments</h1>
                        <p class="text-xs line-height-18 light-gray py-3 lg:pr-32">
                            Duis congue mattis odio, a posuere urna feugiat id. Praesent id est tellus. Sed mollis ex at dapibus hendrerit. Curabitur efficitur nulla at finibus suscipit. Duis efficitur lobortis diam vitae egestas.
                            <br />
                            <br />
                            Duis congue mattis odio, a posuere urna feugiat id. Praesent id est tellus. Sed mollis ex at dapibus hendrerit. Curabitur efficitur nulla at finibus suscipit. Duis efficitur lobortis diam vitae egestas.
                        </p>
                    </div>
                    <div class="my-4 w-full">
                        <h1 class="text-xl font-semibold dark-gray my-6">Similar ads</h1>
                        <div class="flex flex-wrap items-center  xl:justify-between justify-left  mx-auto">
                            <!-- CARD -->
                            <div class="mx-2 w-72 lg:mb-0 mb-8">
                                <div>
                                    <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap (1).png" class="w-full h-44" />
                                </div>
                                <div class="bg-white">
                                    <div class="flex items-center justify-between px-4 pt-4">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                                            </svg>
                                        </div>
                                        <div class="light-yellow py-1.5 px-6 rounded-full">
                                            <p class="text-xs dark-yellow">Featured</p>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex items-center">
                                            <h2 class="text-lg font-semibold dark-gray">IPhone XS</h2>
                                            <span class="px-2 bg-dot-color">&#8226;</span>
                                            <p class="text-xs light-gray">4 days ago</p>
                                        </div>
                                        <p class="text-xs light-gray mt-2">Duis congue mattis odio, a posuere urna feugiat id praesent id est tellus.</p>
                                        <div class="flex mt-4">
                                            <div>
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">12 months warranty</p>
                                            </div>
                                            <div class="pl-2">
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center justify-between py-4">
                                            <h2 class="purple text-xs font-semibold">Bay Area, San Francisco</h2>
                                            <h3 class="purple text-xl font-semibold">$350</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CARD ENDS -->
                            <!-- CARD -->
                            <div class="mx-2 w-72 lg:mb-0 mb-8 lg:ml-0 ml-16">
                                <div>
                                    <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap (1).png" class="w-full h-44" />
                                </div>
                                <div class="bg-white">
                                    <div class="flex items-center justify-between px-4 pt-4">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                                            </svg>
                                        </div>
                                        <div class="light-yellow py-1.5 px-6 rounded-full">
                                            <p class="text-xs dark-yellow">Featured</p>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex items-center">
                                            <h2 class="text-lg font-semibold dark-gray">IPhone XS</h2>
                                            <span class="px-2 bg-dot-color">&#8226;</span>
                                            <p class="text-xs light-gray">4 days ago</p>
                                        </div>
                                        <p class="text-xs light-gray mt-2">Duis congue mattis odio, a posuere urna feugiat id praesent id est tellus.</p>
                                        <div class="flex mt-4">
                                            <div>
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">12 months warranty</p>
                                            </div>
                                            <div class="pl-2">
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center justify-between py-4">
                                            <h2 class="purple text-xs font-semibold">Bay Area, San Francisco</h2>
                                            <h3 class="purple text-xl font-semibold">$350</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CARD ENDS -->
                            <!-- CARD -->
                            <div class="mx-2 w-72 lg:mb-0 mb-8">
                                <div>
                                    <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap (1).png" class="w-full h-44" />
                                </div>
                                <div class="bg-white">
                                    <div class="flex items-center justify-between px-4 pt-4">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                                            </svg>
                                        </div>
                                        <div class="light-yellow py-1.5 px-6 rounded-full">
                                            <p class="text-xs dark-yellow">Featured</p>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex items-center">
                                            <h2 class="text-lg font-semibold dark-gray">IPhone XS</h2>
                                            <span class="px-2 bg-dot-color">&#8226;</span>
                                            <p class="text-xs light-gray">4 days ago</p>
                                        </div>
                                        <p class="text-xs light-gray mt-2">Duis congue mattis odio, a posuere urna feugiat id praesent id est tellus.</p>
                                        <div class="flex mt-4">
                                            <div>
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">12 months warranty</p>
                                            </div>
                                            <div class="pl-2">
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center justify-between py-4">
                                            <h2 class="purple text-xs font-semibold">Bay Area, San Francisco</h2>
                                            <h3 class="purple text-xl font-semibold">$350</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CARD ENDS -->
                        </div>
                        <div class="flex flex-wrap items-center xl:justify-between justify-left mx-auto my-6">
                            <!-- CARD -->
                            <div class="mx-2 w-72 lg:mb-0 mb-8">
                                <div>
                                    <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap.png" class="w-full h-44" />
                                </div>
                                <div class="bg-white">
                                    <div class="flex items-center justify-between px-4 pt-4">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex items-center">
                                            <h2 class="text-lg font-semibold dark-gray">IPhone XS</h2>
                                            <span class="px-2 bg-dot-color">&#8226;</span>
                                            <p class="text-xs light-gray">4 days ago</p>
                                        </div>
                                        <p class="text-xs light-gray mt-2">Duis congue mattis odio, a posuere urna feugiat id praesent id est tellus.</p>
                                        <div class="flex mt-4">
                                            <div>
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">12 months warranty</p>
                                            </div>
                                            <div class="pl-2">
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center justify-between py-4">
                                            <h2 class="purple text-xs font-semibold">Bay Area, San Francisco</h2>
                                            <h3 class="purple text-xl font-semibold">$350</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CARD ENDS -->
                            <!-- CARD -->
                            <div class="mx-2 w-72 lg:mb-0 mb-8 lg:ml-0 ml-16">
                                <div>
                                    <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap.png" class="w-full h-44" />
                                </div>
                                <div class="bg-white">
                                    <div class="flex items-center justify-between px-4 pt-4">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex items-center">
                                            <h2 class="text-lg font-semibold dark-gray">IPhone XS</h2>
                                            <span class="px-2 bg-dot-color">&#8226;</span>
                                            <p class="text-xs light-gray">4 days ago</p>
                                        </div>
                                        <p class="text-xs light-gray mt-2">Duis congue mattis odio, a posuere urna feugiat id praesent id est tellus.</p>
                                        <div class="flex mt-4">
                                            <div>
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">12 months warranty</p>
                                            </div>
                                            <div class="pl-2">
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center justify-between py-4">
                                            <h2 class="purple text-xs font-semibold">Bay Area, San Francisco</h2>
                                            <h3 class="purple text-xl font-semibold">$350</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CARD ENDS -->
                            <!-- CARD -->
                            <div class="mx-2 w-72 lg:mb-0 mb-8">
                                <div>
                                    <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap.png" class="w-full h-44" />
                                </div>
                                <div class="bg-white">
                                    <div class="flex items-center justify-between px-4 pt-4">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex items-center">
                                            <h2 class="text-lg font-semibold dark-gray">IPhone XS</h2>
                                            <span class="px-2 bg-dot-color">&#8226;</span>
                                            <p class="text-xs light-gray">4 days ago</p>
                                        </div>
                                        <p class="text-xs light-gray mt-2">Duis congue mattis odio, a posuere urna feugiat id praesent id est tellus.</p>
                                        <div class="flex mt-4">
                                            <div>
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">12 months warranty</p>
                                            </div>
                                            <div class="pl-2">
                                                <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center justify-between py-4">
                                            <h2 class="purple text-xs font-semibold">Bay Area, San Francisco</h2>
                                            <h3 class="purple text-xl font-semibold">$350</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CARD ENDS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./assets/js/index.js"></script>
    </body>
</html>
