@tailwind utilities;
@tailwind base;
@tailwind components;

body {
    font-family: "Montserrat", sans-serif;
}
.text-indigo {
    color: #5a67d8;
}
.text-indigo:hover {
    opacity: 0.8;
}
.text-dark {
    color: #1a202c;
}
.text-dark:hover {
    color: #5a67d8;
}
.text-indigo2 {
    color: #5a67d8;
}
.text-dark2 {
    color: #1a202c;
}
.bg-dark{
    background-color: #1A202C;
}

.bg-indigo {
    background: linear-gradient(180.5deg, #5A67D8 10.06%, #4C51BF 99.56%);
}
.bg-gray {
    background-color: #e2e8f0;
}

.hoverDiv {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: 0.5s ease;
    background: linear-gradient(180deg, rgba(90, 103, 216, 0.8) 0%, rgba(76, 81, 191, 0.4) 100%);
}
.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 1rem;
    margin-left: 22px;
    margin-right: 20px;
    height: auto;
    width: auto;
    opacity: 0;
    transition: 0.5s ease;
    background: linear-gradient(180deg, rgba(26, 32, 44, 0.8) 0%, rgba(74, 85, 104, 0.8) 100%);
}
@media (min-width: 375px) and (max-width : 1023px) {
    .overlay2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 1rem;
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
        width: auto;
        opacity: 0;
        transition: 0.5s ease;
        background: linear-gradient(180deg, rgba(26, 32, 44, 0.8) 0%, rgba(74, 85, 104, 0.8) 100%);
    }
  }
.hoverDiv:hover .overlay2 {
    opacity: 1;
}
.hoverDiv:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    top: 15%;
    left:20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}
.text1 {
    color: white;
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    top: 15%;
    left:30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.bg-light-dark{
    background: rgba(0, 0, 0, 0.75);
}
.img-1:hover{
    border-radius: 50%;
    border: #5a67d8 solid 5px;
}

.top-100 {
    animation: slideDown .5s ease-in-out;
}
@keyframes slideDown {
    0% {
        top: -50%;
    }
    100% {
        top: 0;
    }
}
* {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }