<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
</head>

<body class="bg-gray-200">
    <!-- nav -->

    <div class="w-full mx-auto bg-white shadow-sm border-b border-gray-300 px-5 sm:px-10">
        <div class="container justify-between h-16 flex items-center lg:items-stretch mx-auto">
            <div class="h-full flex items-center">
                <div class="mr-10 flex items-center">
                    <svg width="146px" height="36px" viewBox="0 0 384 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>63EC04EA-F9B5-4F76-AA27-C6D0890287B3</title>
              <g
                id="Page-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="Coursery-sign-in@2x"
                  transform="translate(-190.000000, -300.000000)"
                >
                  <g id="Group-6" transform="translate(177.000000, 300.000000)">
                    <g id="Logo" transform="translate(13.000000, 0.000000)">
                      <g id="Group-2">
                        <path
                          d="M41.3571151,39.6596922 L0,28.9473684 L0,68.3075327 C0,72.7264939 2.67484383,77.0354629 5.94521052,77.8825155 L41.0643627,86.9789759 L47.3023256,100 L47.3023256,49.2335411 C47.3023256,44.8157139 44.6274818,40.5067448 41.3571151,39.6596922"
                          id="Fill-3"
                          fill="#52C1E3"
                        ></path>
                        <path
                          d="M65.6976744,49.2335411 L65.6976744,100 L71.9345242,86.9789759 L107.054789,77.8825155 C110.324043,77.0354629 113,72.7264939 113,68.3075327 L113,28.9473684 L71.6417718,39.6596922 C68.3725182,40.5067448 65.6976744,44.8157139 65.6976744,49.2335411"
                          id="Fill-4"
                          fill="#52C1E3"
                        ></path>
                        <path
                          d="M48.5024444,29.9979692 L7.88372093,10.5263158 L7.88372093,50.7044266 C7.88372093,55.2147222 10.8909535,60.3462888 14.567323,62.1083994 L55.1860465,81.5789474 L55.1860465,41.4030475 C55.1860465,36.8927519 52.178814,31.7611853 48.5024444,29.9979692"
                          id="Fill-5"
                          fill="#F1C435"
                        ></path>
                        <path
                          d="M41.3244615,38.4742562 L5.25581395,28.9473684 L5.25581395,51.9367696 C5.25581395,56.6804481 7.98788026,61.9275612 11.326575,63.5959874 L47.3023256,81.5789474 L47.3023256,48.290648 C47.3023256,43.7609 44.6127904,39.342768 41.3244615,38.4742562"
                          id="Fill-6"
                          fill="#0EA24D"
                        ></path>
                        <path
                          d="M57.8139535,41.4030475 L57.8139535,81.5789474 L98.432677,62.1083994 C102.107937,60.3462888 105.116279,55.2147222 105.116279,50.7044266 L105.116279,10.5263158 L64.4975556,29.9979692 C60.821186,31.7611853 57.8139535,36.8927519 57.8139535,41.4030475"
                          id="Fill-7"
                          fill="#E787AD"
                        ></path>
                        <path
                          d="M65.6976744,48.290648 L65.6976744,81.5789474 L101.672306,63.5959874 C105.01212,61.9275612 107.744186,56.6804481 107.744186,51.9367696 L107.744186,28.9473684 L71.6744192,38.4742562 C68.3872096,39.342768 65.6976744,43.7609 65.6976744,48.290648"
                          id="Fill-8"
                          fill="#95639B"
                        ></path>
                        <path
                          d="M21.0232558,52.6315789 C19.5711429,52.6315789 18.3953488,53.8104571 18.3953488,55.2645991 C18.3953488,56.7172998 19.5711429,57.8947368 21.0232558,57.8947368 C22.4739295,57.8947368 23.6511628,56.7172998 23.6511628,55.2645991 C23.6511628,53.8104571 22.4739295,52.6315789 21.0232558,52.6315789"
                          id="Fill-9"
                          fill="#FFFFFE"
                        ></path>
                        <path
                          d="M39.4200438,52.6315789 C37.9679309,52.6315789 36.7906977,53.8104571 36.7906977,55.2645991 C36.7906977,56.7172998 37.9679309,57.8947368 39.4200438,57.8947368 C40.8707175,57.8947368 42.0465116,56.7172998 42.0465116,55.2645991 C42.0465116,53.8104571 40.8707175,52.6315789 39.4200438,52.6315789"
                          id="Fill-10"
                          fill="#FFFFFE"
                        ></path>
                        <path
                          d="M31.5348837,52.6315789 C30.08421,52.6315789 28.9069767,53.8104571 28.9069767,55.2645991 C28.9069767,56.7172998 30.08421,57.8947368 31.5348837,57.8947368 C32.9855575,57.8947368 34.1627907,56.7172998 34.1627907,55.2645991 C34.1627907,53.8104571 32.9855575,52.6315789 31.5348837,52.6315789"
                          id="Fill-11"
                          fill="#FFFFFE"
                        ></path>
                        <path
                          d="M73.5806756,52.6315789 C72.1296045,52.6315789 70.9534884,53.8104571 70.9534884,55.2645991 C70.9534884,56.7172998 72.1296045,57.8947368 73.5806756,57.8947368 C75.0331862,57.8947368 76.2093023,56.7172998 76.2093023,55.2645991 C76.2093023,53.8104571 75.0331862,52.6315789 73.5806756,52.6315789"
                          id="Fill-12"
                          fill="#FFFFFE"
                        ></path>
                        <path
                          d="M91.9767442,52.6315789 C90.5246313,52.6315789 89.3488372,53.8104571 89.3488372,55.2645991 C89.3488372,56.7172998 90.5246313,57.8947368 91.9767442,57.8947368 C93.4288571,57.8947368 94.6046512,56.7172998 94.6046512,55.2645991 C94.6046512,53.8104571 93.4288571,52.6315789 91.9767442,52.6315789"
                          id="Fill-13"
                          fill="#FFFFFE"
                        ></path>
                        <path
                          d="M81.4658357,52.6315789 C80.0141203,52.6315789 78.8372093,53.8104571 78.8372093,55.2645991 C78.8372093,56.7172998 80.0141203,57.8947368 81.4658357,57.8947368 C82.9161123,57.8947368 84.0930233,56.7172998 84.0930233,55.2645991 C84.0930233,53.8104571 82.9161123,52.6315789 81.4658357,52.6315789"
                          id="Fill-14"
                          fill="#FFFFFE"
                        ></path>
                        <path
                          d="M80.9359967,0.0693501309 C68.523925,3.11833209 58.9587527,13.1817717 57.9080977,25.7565733 C57.8181716,26.8307548 57.7942672,27.8954114 57.8295547,28.9473684 C59.7248316,17.028717 69.3378126,7.69868402 81.5040106,5.06667495 C85.6303642,4.23061256 84.3611548,-0.634423907 80.9359967,0.0693501309"
                          id="Fill-15"
                          fill="#788582"
                        ></path>
                        <path
                          d="M32.0631738,0.0693501309 C28.6391408,-0.634423907 27.3699264,4.23061256 31.4951577,5.06667495 C43.6614027,7.69868402 53.2744209,17.028717 55.1697051,28.9473684 C55.206131,27.8954114 55.1822265,26.8307548 55.0923001,25.7565733 C54.041641,13.1817717 44.4764318,3.11833209 32.0631738,0.0693501309"
                          id="Fill-16"
                          fill="#788582"
                        ></path>
                      </g>
                      <text
                        id="Coursery"
                        font-family="STIXGeneral-Bold, STIXGeneral"
                        font-size="37"
                        font-weight="bold"
                        fill="#F6AD55"
                      >
                        <tspan x="132" y="58">COURSERY</tspan>
                      </text>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
                    <!-- <h3 class="text-base text-gray-800 font-bold tracking-normal leading-tight ml-3 hidden lg:block">The North</h3> -->
                </div>
                <ul class="lg:flex items-center h-full hidden">
                    <li class="cursor-pointer h-full flex items-center text-sm text-yellow-400 tracking-normal border-b-2 border-yellow-400">
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li class="cursor-pointer h-full flex items-center text-sm text-gray-800 mx-10 tracking-normal">
                        <a href="courses.html">Courses</a>
                    </li>
                    <li class="cursor-pointer h-full flex items-center text-sm text-gray-800 mr-10 tracking-normal">
                        <a href="students.html">Students</a>
                    </li>
                    <li class="cursor-pointer h-full flex items-center text-sm text-gray-800 mr-10 tracking-normal">
                        <a href="instructors.html">Instructors</a>
                    </li>
                    <li class="cursor-pointer h-full flex items-center text-sm text-gray-800 mr-10 tracking-normal">
                        <a href="publishers.html">Publishers</a>
                    </li>
                    <li class="cursor-pointer h-full flex items-center text-sm text-gray-800 tracking-normal lg:mr-8 xl:mr-0">
                        <a href="webinars.html">Webinars</a>
                    </li>
                </ul>
            </div>
            <div class="h-full lg:flex  items-center justify-end hidden">
                <div class="w-full h-full flex items-center">
                    <!-- <div class="w-full pr-8 h-full flex items-center border-r">
              <div class="relative w-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-gray-500 absolute ml-3 inset-0 m-auto icon icon-tabler icon-tabler-search"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <circle cx="10" cy="10" r="7" />
                  <line x1="21" y1="21" x2="15" y2="15" />
                </svg>
                <input
                  class="border border-gray-100 focus:outline-none focus:border-indigo-500 w-56 rounded text-sm text-gray-500 bg-gray-100 pl-8 py-2"
                  type="text"
                  placeholder="Search"
                />
              </div>
            </div> -->
                    <div class="w-full h-full flex">
                        <div class="w-24 h-full flex items-center justify-center border-l border-r">
                            <div class="relative">
                                <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer text-gray-600 icon icon-tabler icon-tabler-bell" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"></path>
                    <path
                      d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
                    ></path>
                    <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                  </svg>
                                <div class="animate-ping w-2 h-2 rounded-full bg-red-400 border border-white absolute inset-0 mt-1 mr-1 m-auto"></div>
                            </div>
                        </div>
                        <div class="w-full flex items-center justify-end relative cursor-pointer" onclick="dropdownHandler(this)">
                            <ul class="p-2 w-40 border-r bg-white absolute rounded left-0 shadow mt-16 top-0 hidden">
                                <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <circle cx="12" cy="7" r="4" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                      </svg>
                                        <span class="ml-2">My Profile</span>
                                    </div>
                                </li>
                                <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <circle cx="12" cy="12" r="9" />
                      <line x1="12" y1="17" x2="12" y2="17.01" />
                      <path
                        d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"
                      />
                    </svg>
                                    <span class="ml-2">Help Center</span>
                                </li>
                                <li class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <path
                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                      />
                      <circle cx="12" cy="12" r="3" />
                    </svg>
                                    <span class="ml-2">Account Settings</span>
                                </li>
                            </ul>
                            <img class="rounded h-10 w-10 object-cover" src="https://tuk-cdn.s3.amazonaws.com/assets/components/horizontal_navigation/hn_1.png" alt="logo" />
                            <p class="text-gray-800 text-sm ml-2">Jane Doe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:hidden cursor-pointer text-gray-700 hover:text-gray-700 focus:outline-none transition duration-150 ease-in-out">
                <ul class="top-0 z-40 p-2 border-r bg-white absolute rounded left-0 right-0 shadow mt-16 md:mt-16 hidden">
                    <li class="flex lg:hidden cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                        <div class="flex items-center">
                            <span class="ml-2 font-bold"><a href="index.html">Dashboard</a></span>
                        </div>
                    </li>
                    <li class="flex lg:hidden flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                        <div class="flex items-center">
                            <span class="ml-2 font-bold"><a href="courses.html">Courses</a></span>
                        </div>
                    </li>
                    <li class="flex lg:hidden cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                        <span class="ml-2 font-bold"><a href="students.html">Students</a></span>
                    </li>
                    <li class="flex lg:hidden cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                        <span class="ml-2 font-bold"><a href="instructors.html">Instructors</a></span>
                    </li>
                    <li class="flex lg:hidden cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                        <span class="ml-2 font-bold"><a href="publishers.html">Publishers</a></span>
                    </li>
                    <li class="flex lg:hidden cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                        <span class="ml-2 font-bold"><a href="webinars.html">Webinars</a></span>
                    </li>
                    <li class="ml-2 cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                        <div class="flex items-center">
                            <div class="w-12 cursor-pointer flex text-sm border-2 border-transparent rounded focus:outline-none focus:border-white transition duration-150 ease-in-out">
                                <img class="rounded h-10 w-10 object-cover" src="https://tuk-cdn.s3.amazonaws.com/assets/components/horizontal_navigation/hn_1.png" alt="logo" />
                            </div>
                            <p class="leading-6 text-base ml-1 cursor-pointer">Jane Doe</p>
                            <div class="sm:ml-2 text-white relative">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down cursor-pointer" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"></path>
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                            </div>
                        </div>
                    </li>
                    <li class="ml-2 cursor-pointer text-gray-600 text-base leading-3 tracking-normal pt-2 pb-4 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                  <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                </svg>
                            <span class="leading-6 ml-2">Profile</span>
                        </div>
                    </li>
                </ul>
                <div>
                    <div class="show-m-menu lg:hidden" onclick="MenuHandler(this,true)">
                        <svg aria-haspopup="true" aria-label="Main Menu" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2C3E50" fill="none" stroke-linecap="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line x1="4" y1="8" x2="20" y2="8" />
                <line x1="4" y1="16" x2="20" y2="16" />
              </svg>
                    </div>
                    <div onclick="MenuHandler(this,false)" class="hidden close-m-menu">
                        <svg aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
              </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cards -->

    <!-- Data card style 7 starts -->
    <div class="container w-11/12 mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-12 gap-8">
        <div class="bg-white rounded shadow px-8 py-6 flex items-center">
            <div class="p-4 bg-yellow-400 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-discount" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <line x1="9" y1="15" x2="15" y2="9" />
            <circle cx="9.5" cy="9.5" r=".5" />
            <circle cx="14.5" cy="14.5" r=".5" />
            <path
              d="M5 7.2a2.2 2.2 0 0 1 2.2 -2.2h1a2.2 2.2 0 0 0 1.55 -.64l.7 -.7a2.2 2.2 0 0 1 3.12 0l.7 .7a2.2 2.2 0 0 0 1.55 .64h1a2.2 2.2 0 0 1 2.2 2.2v1a2.2 2.2 0 0 0 .64 1.55l.7 .7a2.2 2.2 0 0 1 0 3.12l-.7 .7a2.2 2.2 0 0 0 -.64 1.55 v1a2.2 2.2 0 0 1 -2.2 2.2h-1a2.2 2.2 0 0 0 -1.55 .64l-.7 .7a2.2 2.2 0 0 1 -3.12 0l-.7 -.7a2.2 2.2 0 0 0 -1.55 -.64h-1a2.2 2.2 0 0 1 -2.2 -2.2v-1a2.2 2.2 0 0 0 -.64 -1.55l-.7 -.7a2.2 2.2 0 0 1 0 -3.12l.7 -.7a2.2 2.2 0 0 0 .64 -1.55 v-1"
            />
          </svg>
            </div>
            <div class="ml-6">
                <h3 class="mb-1 leading-5 text-gray-800 font-bold text-2xl">23</h3>
                <p class="text-gray-600 text-sm tracking-normal font-normal leading-5">
                    Course Taken
                </p>
            </div>
        </div>
        <div class="bg-white rounded shadow px-8 py-6 flex items-center">
            <div class="p-4 bg-yellow-400 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-white icon icon-tabler icon-tabler-click" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <line x1="3" y1="12" x2="6" y2="12" />
            <line x1="12" y1="3" x2="12" y2="6" />
            <line x1="7.8" y1="7.8" x2="5.6" y2="5.6" />
            <line x1="16.2" y1="7.8" x2="18.4" y2="5.6" />
            <line x1="7.8" y1="16.2" x2="5.6" y2="18.4" />
            <path d="M12 12l9 3l-4 2l-2 4l-3 -9" />
          </svg>
            </div>
            <div class="ml-6">
                <h3 class="mb-1 leading-5 text-gray-800 font-bold text-2xl">87%</h3>
                <p class="text-gray-600 text-sm tracking-normal font-normal leading-5">
                    Completion Rate
                </p>
            </div>
        </div>
        <div class="bg-white rounded shadow px-8 py-6 flex items-center">
            <div class="p-4 bg-yellow-400 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <circle cx="12" cy="7" r="4" />
            <path d="M5.5 21v-2a4 4 0 0 1 4 -4h5a4 4 0 0 1 4 4v2" />
          </svg>
            </div>
            <div class="ml-6">
                <h3 class="mb-1 leading-5 text-gray-800 font-bold text-2xl">345</h3>
                <p class="text-gray-600 text-sm tracking-normal font-normal leading-5">
                    Quizes Taken
                </p>
            </div>
        </div>
        <div class="bg-white rounded shadow px-8 py-6 flex items-center">
            <div class="p-4 bg-yellow-400 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-credit-card" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="3" y="5" width="18" height="14" rx="3" />
            <line x1="3" y1="10" x2="21" y2="10" />
            <line x1="7" y1="15" x2="7.01" y2="15" />
            <line x1="11" y1="15" x2="13" y2="15" />
          </svg>
            </div>
            <div class="ml-6">
                <h3 class="mb-1 leading-5 text-gray-800 font-bold text-2xl">
                    239 hours
                </h3>
                <p class="text-gray-600 text-sm tracking-normal font-normal leading-5">
                    Of videos watched
                </p>
            </div>
        </div>
    </div>

    <!-- card 2 -->
    <div class="container w-11/12 my-4 mx-auto">
        <div class="flex flex-wrap f-r-t">
            <div class="lg:w-3/5 w-full lg:pr-8 mb-12">
                <div class="bg-white shadow-sm rounded xl:px-8 sm:px-4 py-8 px-4">
                    <p class="text-lg font-bold ">My Courses</p>
                    <div class="pt-8 pb-8 border-b border-gray-300 xl:flex lg:flex md:flex sm:flex relative">
                        <div class="flex w-11/12">
                            <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                <img class="w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_2.png" alt="" />
                            </div>
                            <div class="w-full ml-3">
                                <p class="text-base text-gray-800 font-bold">
                                    Complete Course on Digital Marketing
                                </p>
                                <p class="text-xs text-gray-600">by Silene Cox</p>
                                <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                    <p class="text-sm text-gray-600 mb-2 xl:mb-0 lg:mb-0">
                                        Category:
                                        <span class="text-gray-800 font-bold">Marketing & Sales</span
                      >
                    </p>
                    <p class="text-sm text-gray-600 mb-2 xl:mb-0 lg:mb-0">
                      Modules: <span class="text-gray-800 font-bold">12</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="pl-12 md:pl-0 top-0 right-0 mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                            <button class="focus:outline-none bg-blue-400 text-white xl:px-5 lg:px-5 md:px-5 sm:px-5 px-4 py-1 rounded-full text-xs mt-2 xl:mt-0 lg:mt-0">
                  Completed
                </button>
                        </div>
                    </div>
                    <div class="pt-6 pb-8 border-b border-gray-300 xl:flex lg:flex md:flex sm:flex relative">
                        <div class="flex w-11/12">
                            <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                <img class="w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_3.png" alt="" />
                            </div>
                            <div class="w-full ml-3">
                                <p class="text-base text-gray-800 font-bold">
                                    Digital Marketing and Social Media
                                </p>
                                <p class="text-xs text-gray-600">by Silene Cox</p>
                                <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                    <p class="text-sm text-gray-600 mb-2 xl:mb-0 lg:mb-0">
                                        Category:
                                        <span class="text-gray-800 font-bold">Marketing & Sales</span
                      >
                    </p>
                    <p class="text-sm text-gray-600 mb-2 xl:mb-0 lg:mb-0">
                      Modules: <span class="text-gray-800 font-bold">25</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="pl-12 md:pl-0 top-0 right-0 mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                            <button class="focus:outline-none bg-yellow-300 text-white xl:px-5 lg:px-5 md:px-5 sm:px-5 px-4 py-1 rounded-full text-xs mt-2 xl:mt-0 lg:mt-0">
                  InProgress
                </button>
                        </div>
                    </div>
                    <div class="pt-8 pb-8 border-b border-gray-300 xl:flex lg:flex md:flex sm:flex relative">
                        <div class="flex w-11/12">
                            <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                <img class="w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_4.png" alt="" />
                            </div>
                            <div class="w-full ml-3">
                                <p class="text-base text-gray-800 font-bold">
                                    Build a Career in IOT
                                </p>
                                <p class="text-xs text-gray-600">by Silene Cox</p>
                                <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                    <p class="text-sm text-gray-600 mb-2 xl:mb-0 lg:mb-0">
                                        Category:
                                        <span class="text-gray-800 font-bold">Development</span>
                                    </p>
                                    <p class="text-sm text-gray-600 mb-2 xl:mb-0 lg:mb-0">
                                        Modules: <span class="text-gray-800 font-bold">34</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="pl-12 md:pl-0 top-0 right-0 mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                            <button class="focus:outline-none bg-blue-400 text-white xl:px-5 lg:px-5 md:px-5 sm:px-5 px-4 py-1 rounded-full text-xs mt-2 xl:mt-0 lg:mt-0">
                  Completed
                </button>
                        </div>
                    </div>
                    <div class="pt-6 pb-8 xl:flex lg:flex md:flex sm:flex relative">
                        <div class="flex w-11/12">
                            <div class="h-12 w-12 rounded-full bg-center bg-cover bg-no-repeat">
                                <img class="w-full object-cover rounded-full border-2 border-white shadow" src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_5.png" alt="" />
                            </div>
                            <div class="w-full ml-3">
                                <p class="text-base text-gray-800 font-bold">
                                    Emotional Intelligence at Work
                                </p>
                                <p class="text-xs text-gray-600">by Silene Cox</p>
                                <div class="xl:flex lg:flex md:flex flex-wrap justify-between mt-6">
                                    <p class="text-sm text-gray-600 mb-2 xl:mb-0 lg:mb-0">
                                        Category:
                                        <span class="text-gray-800 font-bold">Workplace</span>
                                    </p>
                                    <p class="text-sm text-gray-600 mb-2 xl:mb-0 lg:mb-0">
                                        Modules: <span class="text-gray-800 font-bold">12</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="pl-12 md:pl-0 top-0 right-0 mt-0 lg:mt-0 md:mt-0 sm:mt-0 xl:relative lg:relative md:relative sm:relative">
                            <button class="focus:outline-none bg-yellow-300 text-white xl:px-5 lg:px-5 md:px-5 sm:px-5 px-4 py-1 rounded-full text-xs mt-2 xl:mt-0 lg:mt-0">
                  InProgress
                </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:w-2/5 w-full mb-12">
                <div class="bg-white shadow border border-gray-300 rounded p-8">
                    <p class="text-lg font-bold mb-12">Trending Courses</p>
                    <div class="flex items-center pb-4 border-b border-gray-300">
                        <div class="text-gray-700 rounded-lg flex items-center justify-center h-12 w-12">
                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_6.png" alt="" class="object-cover h-full w-full" />
                        </div>
                        <div class="ml-3">
                            <p class="text-gray-500 font-normal text-sm leading-5 tracking-normal">
                                Introduction to VR Development
                            </p>
                            <h3 class="text-2xl leading-6 text-gray-900 font-bold mt-1">
                                $198
                            </h3>
                        </div>
                    </div>
                    <div class="flex items-center py-4 border-b border-gray-300">
                        <div class="text-gray-700 rounded-lg flex items-center justify-center h-12 w-12">
                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_7.png" alt="" class="object-cover h-full w-full" />
                        </div>
                        <div class="ml-3">
                            <p class="text-gray-500 font-normal text-sm leading-5 tracking-normal">
                                Crash course on Big Data
                            </p>
                            <h3 class="text-2xl leading-6 text-gray-900 font-bold mt-1">
                                $99
                            </h3>
                        </div>
                    </div>
                    <div class="flex items-center py-4 border-b border-gray-300">
                        <div class="text-gray-700 rounded-lg flex items-center justify-center h-12 w-12">
                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_8.png" alt="" class="object-cover h-full w-full" />
                        </div>
                        <div class="ml-3">
                            <p class="text-gray-500 font-normal text-sm leading-5 tracking-normal">
                                Mobile App Development
                            </p>
                            <h3 class="text-2xl leading-6 text-gray-900 font-bold mt-1">
                                $199
                            </h3>
                        </div>
                    </div>
                    <div class="flex items-center py-4 border-b border-gray-300">
                        <div class="text-gray-700 rounded-lg flex items-center justify-center h-12 w-12">
                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_6.png" alt="" class="object-cover h-full w-full" />
                        </div>
                        <div class="ml-3">
                            <p class="text-gray-500 font-normal text-sm leading-5 tracking-normal">
                                Introduction to VR Development
                            </p>
                            <h3 class="text-2xl leading-6 text-gray-900 font-bold mt-1">
                                $198
                            </h3>
                        </div>
                    </div>
                    <div class="flex items-center py-4 border-b border-gray-300">
                        <div class="text-gray-700 rounded-lg flex items-center justify-center h-12 w-12">
                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_7.png" alt="" class="object-cover h-full w-full" />
                        </div>
                        <div class="ml-3">
                            <p class="text-gray-500 font-normal text-sm leading-5 tracking-normal">
                                Crash course on Big Data
                            </p>
                            <h3 class="text-2xl leading-6 text-gray-900 font-bold mt-1">
                                $99
                            </h3>
                        </div>
                    </div>
                    <div class="flex items-center py-4 border-b border-gray-300">
                        <div class="text-gray-700 rounded-lg flex items-center justify-center h-12 w-12">
                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_8.png" alt="" class="object-cover h-full w-full" />
                        </div>
                        <div class="ml-3">
                            <p class="text-gray-500 font-normal text-sm leading-5 tracking-normal">
                                Mobile App Development
                            </p>
                            <h3 class="text-2xl leading-6 text-gray-900 font-bold mt-1">
                                $199
                            </h3>
                        </div>
                    </div>
                    <div class="flex items-center pt-4">
                        <div class="text-gray-700 rounded-lg flex items-center justify-center h-12 w-12">
                            <img src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_7.png" alt="" class="object-cover h-full w-full" />
                        </div>
                        <div class="ml-3">
                            <p class="text-gray-500 font-normal text-sm leading-5 tracking-normal ">
                                Crash course on Big Data
                            </p>
                            <h3 class="text-2xl leading-6 text-gray-900 font-bold mt-1">
                                $99
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Avatar Dropdown
        function dropdownHandler(element) {
            let single = element.getElementsByTagName("ul")[0];
            single.classList.toggle("hidden");
        }
        //Hamburger and mobile menu
        function MenuHandler(el, val) {
            let MainList = el.parentElement.parentElement.getElementsByTagName(
                "ul"
            )[0];
            let closeIcon = el.parentElement.parentElement.getElementsByClassName(
                "close-m-menu"
            )[0];
            let showIcon = el.parentElement.parentElement.getElementsByClassName(
                "show-m-menu"
            )[0];
            if (val) {
                MainList.classList.remove("hidden");
                el.classList.add("hidden");
                closeIcon.classList.remove("hidden");
            } else {
                showIcon.classList.remove("hidden");
                MainList.classList.add("hidden");
                el.classList.add("hidden");
            }
        }
    </script>
</body>

</html>