.f-r-t {
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.checkbox:checked {
    border: none;
}

.checkbox:checked+.check-icon {
    display: flex;
}

.checkbox1:checked {
    border: none;
}

.checkbox1:checked+.check-icon1 {
    display: flex;
}