body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}
.custom-foreground-color {
    color: #f56565;
}
.custom-border-bottom {
    border-bottom: 2px solid #f56565;
}

/* ScrollBar */
/* width */
#scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  
 
   
  /* Handle */
  #scrollbar::-webkit-scrollbar-thumb {
    background: #718096; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2d3748; 
  }