<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio</title>
        <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet" />
        <link href="./assets/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Header starts here -->
        <div class="bg-white py-4 md:py-10 md:px-20">
            <header class="mx-auto container px-4 xl:px-0">
                <div class="flex items-center justify-between">
                    <a href="javascript: void(0)"> 
                        <img loading="lazy" class="w-24" src="./assets/images/logo.png"/>
                    <div>
                        <div onclick="toggleMenu(true)" class="sm:block md:hidden lg:hidden text-gray-500 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <line x1="4" y1="6" x2="20" y2="6" />
                                <line x1="4" y1="12" x2="20" y2="12" />
                                <line x1="4" y1="18" x2="20" y2="18" />
                            </svg>
                        </div>
                        <div id="menu" class="md:block lg:block hidden">
                            <div onclick="toggleMenu(false)" class="block md:hidden lg:hidden text-gray-500 hover:text-gray-700 focus:text-gray-700 fixed focus:outline-none z-30 top-0 pt-4">
                                <svg aria-haspopup="true" aria-label="Main Menu" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <line x1="18" y1="6" x2="6" y2="18" />
                                    <line x1="6" y1="6" x2="18" y2="18" />
                                </svg>
                            </div>
                            <ul class="flex md:flex text-3xl md:text-base lg:text-base lg:flex flex-col md:flex-row lg:flex-row justify-center items-center fixed md:relative lg:relative top-0 bottom-0 left-0 right-0 bg-white z-20">
                                <li class="md:mr-8 lg:mr-10 flex items-center">
                                    <a class="text-gray-800 hover:text-gray-600 pt-10 md:pt-0" href="javascript: void(0)">About</a>
                                </li>
                                <li class="md:mr-8 lg:mr-10 flex items-center">
                                    <a class="text-gray-800 hover:text-gray-600 pt-10 md:pt-0" href="javascript: void(0)">Portfolio</a>
                                </li>
                                <li class="md:mr-8 lg:mr-10 flex items-center">
                                    <a class="text-gray-800 hover:text-gray-600 pt-10 md:pt-0" href="javascript: void(0)">Products</a>
                                </li>
                                <li class="md:mr-8 lg:mr-10 flex items-center">
                                    <a class="text-gray-800 hover:text-gray-600 pt-10 md:pt-0" href="javascript: void(0)">Collaboration</a>
                                </li>

                                <li class="md:mr-0 flex items-center">
                                    <a class="text-gray-800 hover:text-gray-600 pt-10 md:pt-0" href="javascript: void(0)">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <section class="mt-8 sm:mt-24 lg:mt-56 mx-auto container py-12 lg:px-4 xl:px-0 mx-auto container ">
                <div class="flex flex-col sm:flex-col md:flex-row lg:flex-row">
                    <div class="flex flex-col lg:w-6/12 md:w-6/12 px-4 lg:px-0 justify-center items-start">
                        <p class="text-2xl text-gray-800 font-light">Hi! I’am <span class="custom-foreground-color">Johathan Iverson</span> and</p>
                        <h1 class="text-5xl sm:text-6xl md:text-4xl lg:text-6xl font-extrabold leading-tight text-gray-800">I’ll Help You Build Your Dream</h1>
                        <p class="text-lg text-gray-600 font-light leading-relaxed pt-8">In quo quaerimus, non provident, similique sunt in voluptate et inter argumentum conclusionemque. Tum dicere exorsus est et quasi architecto beatae vitae dicta sunt, explicabo nemo. Certe inquam, pertinax non emolumento</p>
                        <button class="Sf-ui-pro mt-10 flex items-center text-xl custom-foreground-color font-regular custom-border-bottom pb-2 mr-3 focus:outline-none">
                            Connect with me
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <line x1="5" y1="12" x2="19" y2="12" />
                                <line x1="15" y1="16" x2="19" y2="12" />
                                <line x1="15" y1="8" x2="19" y2="12" />
                            </svg>
                        </button>
                    </div>
                    <div class="xl-w-11/12 sm:w-1/2 mt-8 sm:mt-0">
                        <div class="flex items-center justify-center sm:justify-end w-full">
                            <img loading="lazy" class="w-3/5" src="./assets/images/hero.png" alt="header image" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Header ends here -->

        <!-- Navigator starts here -->
        <div class="w-full flex justify-center elements-center pt-16 sm:pt-24 lg:pt-32 pb-12 sm:pb-20 lg:pb-24 text-gray-800">
            <svg id="goDown" xmlns="http://www.w3.org/2000/svg" class="cursor-pointer icon icon-tabler icon-tabler-chevrons-down" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <polyline points="7 7 12 12 17 7" />
                <polyline points="7 13 12 18 17 13" />
            </svg>
        </div>
        <!-- Navigator ends here -->

        <!-- Projects showcase starts here -->
        <section class="px-2 md:px-20">
            <div class="flex flex-col sm:flex-row items-stretch mb-8 sm:mb-16 container mx-auto">
                <div class="w-full sm:w-1/2 relative h-64 sm:h-auto">
                    <img loading="lazy" class="w-full object-cover absolute inset-0 object-center h-full" src="./assets/images/section1_1.png" alt="decorative image" />
                </div>
                <div class="container mx-auto w-full sm:w-1/2 py-8 sm:py-16 lg:py-32 px-6 sm:px-12 lg:px-24 bg-gray-100">
                    <h3 class="text-gray-800 text-2xl mb-3 leading-normal tracking-normal font-bold">Mobile App Revamp</h3>
                    <p class="text-gray-600 leading-6 font-normal tracking-normal mb-6">Quae fuerit causa, nollem me tamen laudandis maioribus meis corrupisti nec segniorem ad. Sunt autem quibusdam et harum quidem se oratio, tua praesertim, qui haec subtilius.</p>
                    <button class="focus:outline-none rounded py-3 px-4 text-black border border-black flex justify-center items-center text-base hover:bg-gray-200 bg-transparent">View Product</button>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row-reverse items-stretch mb-8 sm:mb-16 container mx-auto">
                <div class="w-full sm:w-1/2 relative h-64 sm:h-auto">
                    <img loading="lazy" class="w-full object-cover absolute inset-0 object-center h-full" src="./assets/images/section1_2.png" alt="decorative image" />
                </div>
                <div class="w-full sm:w-1/2 py-8 sm:py-16 lg:py-32 px-6 sm:px-12 lg:px-24 bg-gray-100">
                    <h3 class="text-gray-800 text-2xl mb-3 leading-normal tracking-normal font-bold">Education Portal</h3>
                    <p class="text-gray-600 leading-6 font-normal tracking-normal mb-6">Quae fuerit causa, nollem me tamen laudandis maioribus meis corrupisti nec segniorem ad. Sunt autem quibusdam et harum quidem se oratio, tua praesertim, qui haec subtilius.</p>
                    <button class="focus:outline-none rounded py-3 px-4 text-gray-600 border border-gray-600 flex justify-center items-center text-base hover:bg-gray-200 bg-transparent">View Product</button>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row items-stretch mb-8 sm:mb-16 container mx-auto">
                <div class="w-full sm:w-1/2 relative h-64 sm:h-auto">
                    <img loading="lazy" class="w-full object-cover absolute inset-0 object-center h-full" src="./assets/images/section1_3.png" alt="decorative image" />
                </div>
                <div class="w-full sm:w-1/2 py-8 sm:py-16 lg:py-32 px-6 sm:px-12 lg:px-24 bg-gray-100">
                    <h3 class="text-gray-800 text-2xl mb-3 leading-normal tracking-normal font-bold">Management Webapp</h3>
                    <p class="text-gray-600 leading-6 font-normal tracking-normal mb-6">Quae fuerit causa, nollem me tamen laudandis maioribus meis corrupisti nec segniorem ad. Sunt autem quibusdam et harum quidem se oratio, tua praesertim, qui haec subtilius.</p>
                    <button class="focus:outline-none rounded py-3 px-4 text-gray-600 border border-gray-600 flex justify-center items-center text-base hover:bg-gray-200 bg-transparent">View Product</button>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row-reverse items-stretch mb-8 sm:mb-16 container mx-auto">
                <div class="w-full sm:w-1/2 relative h-64 sm:h-auto">
                    <img loading="lazy" class="w-full object-cover absolute inset-0 object-center h-full" src="./assets/images/section1_4.png" alt="decorative image" />
                </div>
                <div class="w-full sm:w-1/2 py-8 sm:py-16 lg:py-32 px-6 sm:px-12 lg:px-24 bg-gray-100">
                    <h3 class="text-gray-800 text-2xl mb-3 leading-normal tracking-normal font-bold">The 6th Company Branding</h3>
                    <p class="text-gray-600 leading-6 font-normal tracking-normal mb-6">Quae fuerit causa, nollem me tamen laudandis maioribus meis corrupisti nec segniorem ad. Sunt autem quibusdam et harum quidem se oratio, tua praesertim, qui haec subtilius.</p>
                    <button class="focus:outline-none rounded py-3 px-4 text-gray-600 border border-gray-600 flex justify-center items-center text-base hover:bg-gray-200 bg-transparent">View Product</button>
                </div>
            </div>
            <div class="mb-16 sm:mb-32 container mx-auto px-6 container mx-auto">
                <button class="Sf-ui-pro  focus:outline-none flex items-center text-xl custom-foreground-color font-regular custom-border-bottom pb-2 mr-3">
                    View all projects
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg>
                </button>
            </div>
        </section>

        <!-- Projects showcase ends here -->

        <!-- Blog posts start here -->
        <section id="products" class="px-2 md:px-0 bg-gray-800">
            <div class="container mx-auto pt-16 px-6 xl:px-0">
                <h1 class="Sf-ui-pro text-white w-full xl:w-1/4 font-black text-2xl sm:text-4xl">Digital Products for Sale</h1>
                <button class="Sf-ui-pro focus:outline-none my-8 flex items-center text-xl text-white font-regular border-b border-white pb-2 mr-3">
                    View all projects
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg>
                </button>
                <div class="pb-10 xl:pb-0 lg:flex md:flex xl:justify-around sm:flex flex-wrap md:justify-around sm:justify-around lg:justify-around">
                    <div class="xl:w-1/3 sm:w-5/12 sm:max-w-xs relative mb-10 lg:mb-20 xl:max-w-sm lg:w-1/2 w-full mx-auto sm:mx-0">
                        <div class="shadow h-64 rounded z-10">
                            <img loading="lazy" src="./assets/images/blog1_1.png" alt="" class="h-full w-full object-cover overflow-hidden rounded-lg" />
                        </div>
                        <div class="px-10 sm:px-20 py-3 sm:py-6 shadow-lg w-11/12 mx-auto -mt-20 bg-white rounded z-20 relative">
                            <h4 class="text-gray-800 text-lg text-center mb-2">Flat Icons Kit</h4>
                            <p class="text-gray-600 text-lg text-center mb-2">PS - Sketch - XD</p>
                        </div>
                    </div>
                    <div class="xl:w-1/3 sm:w-5/12 sm:max-w-xs relative mb-10 lg:mb-20 xl:max-w-sm lg:w-1/2 w-full mx-auto sm:mx-0">
                        <div class="shadow h-64 rounded">
                            <img loading="lazy" src="./assets/images/blog1_2.png" alt="" class="h-full w-full object-cover overflow-hidden rounded-lg" />
                        </div>
                        <div class="px-10 sm:px-20 py-3 sm:py-6 shadow-lg w-11/12 mx-auto -mt-20 bg-white rounded z-20 relative">
                            <h4 class="text-gray-800 text-lg text-center mb-2">Illustrations Library</h4>
                            <p class="text-gray-600 text-lg text-center mb-2">Figma - Sketch - XD</p>
                        </div>
                    </div>
                    <div class="xl:w-1/3 sm:w-5/12 sm:max-w-xs relative lg:mb-20 xl:max-w-sm lg:w-1/2 w-full mx-auto sm:mx-0">
                        <div class="shadow h-64 rounded">
                            <img loading="lazy" src="./assets/images/blog1_3.png" alt="" class="h-full w-full object-cover overflow-hidden rounded-lg" />
                        </div>
                        <div class="px-10 sm:px-20 py-3 sm:py-6 shadow-lg w-11/12 mx-auto -mt-20 bg-white rounded z-20 relative">
                            <h4 class="text-gray-800 text-lg text-center mb-2">Home App Concept</h4>
                            <p class="text-gray-600 text-lg text-center mb-2">Figma - Sketch - XD</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog posts end here -->

        <!-- Cloud logo starts here -->
        <div class="py-16 px-0 md:px-15 bg-gray-100 flex flex-wrap rounded items-center">
            <div class="w-1/3 sm:w-1/6 flex justify-center items-center">
                <img loading="lazy" src="https://cdn.tuk.dev/assets/adidas-gray.png" alt="" />
            </div>
            <div class="w-1/3 sm:w-1/6 flex justify-center items-center">
                <img loading="lazy" src="https://cdn.tuk.dev/assets/channel-gray.png" alt="" />
            </div>
            <div class="w-1/3 sm:w-1/6 flex justify-center items-center">
                <img loading="lazy" src="https://cdn.tuk.dev/assets/nike-gray.png" alt="" />
            </div>
            <div class="w-1/3 sm:w-1/6 flex justify-center items-center mt-6 sm:mt-0">
                <img loading="lazy" src="https://cdn.tuk.dev/assets/toyota-gray.png" alt="" />
            </div>
            <div class="w-1/3 sm:w-1/6 flex justify-center items-center mt-6 sm:mt-0">
                <img loading="lazy" src="https://cdn.tuk.dev/assets/gs1-gray.png" alt="" />
            </div>
            <div class="w-1/3 sm:w-1/6 flex justify-center items-center mt-6 sm:mt-0">
                <img loading="lazy" src="https://cdn.tuk.dev/assets/blackberry-gray.png" alt="" />
            </div>
        </div>
        <!-- Cloud logo ends here -->

        <!-- Cotact section starts here -->
        <div class="px-0 md:px-20 xl:px-40 mt-16 sm:mt-32 mb-10 sm:mb-20">
            <div class="lg:flex">
                <div class="xl:w-2/5 lg:w-2/5 bg-gray-800 py-10 xl:rounded-bl rounded-tl rounded-tr xl:rounded-tr-none">
                    <div class="xl:w-5/6 xl:px-0 px-8 mx-auto">
                        <h1 class="xl:text-4xl text-3xl pb-4 text-white font-bold">Get in touch</h1>
                        <p class="text-xl text-white pb-8 leading-relaxed font-normal lg:pr-4">Got a question about us? Are you interested in partnering with us? Have some suggestions or just want to say Hi? Just contact us. We are here to asset you.</p>
                        <div class="flex pb-4 items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <path d="M4 4h5l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v5a1 1 0 0 1 -1 1a16 16 0 0 1 -16 -16a1 1 0 0 1 1 -1" />
                                    <path d="M15 7a2 2 0 0 1 2 2" />
                                    <path d="M15 3a6 6 0 0 1 6 6" />
                                </svg>
                            </div>
                            <p class="pl-4 text-white text-base">+1 (308) 321 321</p>
                        </div>
                        <div class="flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <rect x="3" y="5" width="18" height="14" rx="2" />
                                    <polyline points="3 7 12 13 21 7" />
                                </svg>
                            </div>
                            <p class="pl-4 text-white text-base">Info@alphas.com</p>
                        </div>
                        <p class="text-lg text-white pt-10 tracking-wide">
                            545, Street 11, Block F <br />
                            Dean Boulevard, Ohio
                        </p>
                        <a href="#">
                            <p class="text-white pt-16 font-bold tracking-wide underline">View Job Openings</p>
                        </a>
                    </div>
                </div>
                <div class="xl:w-3/5 lg:w-3/5 bg-gray-200 h-full pl-5 pr-5 pb-5 lg:pl-0 lg:pt-5 rounded-tr rounded-br">
                    <div class="bg-white py-4 px-8 rounded-tr rounded-br">
                        <h1 class="text-4xl text-gray-800 font-extrabold mb-6">Enter Details</h1>
                        <div class="block xl:flex w-full flex-wrap justify-between mb-6">
                            <div class="w-2/4 max-w-xs mb-6 xl:mb-0">
                                <div class="flex flex-col">
                                    <label for="FullName" class="text-gray-800 text-sm font-semibold leading-tight tracking-normal mb-2">Full Name</label>
                                    <input id="FullName" class="focus:outline-none focus:border focus:border-indigo-700 font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="" />
                                </div>
                            </div>
                            <div class="w-2/4 max-w-xs xl:flex xl:justify-end">
                                <div class="flex flex-col">
                                    <label for="Email" class="text-gray-800 text-sm font-semibold leading-tight tracking-normal mb-2">Email</label>
                                    <input id="Email" class="focus:outline-none focus:border focus:border-indigo-700 font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="flex w-full flex-wrap">
                            <div class="w-2/4 max-w-xs">
                                <div class="flex flex-col">
                                    <label for="Phone" class="text-gray-800 text-sm font-semibold leading-tight tracking-normal mb-2">Phone</label>
                                    <input id="Phone" class="focus:outline-none focus:border focus:border-indigo-700 font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="w-full mt-6">
                            <div class="flex flex-col">
                                <label class="text-sm font-semibold text-gray-800 mb-2" for="message">Message</label>
                                <textarea placeholder="" class="border-gray-300 border mb-4 rounded py-2 text-sm outline-none resize-none px-3 focus:border focus:border-indigo-700" rows="8" id="message"></textarea>
                            </div>
                            <button class="focus:outline-none bg-gray-800 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-3 text-sm leading-6">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cotact section ends here -->

        <!-- Footer section starts here -->
        <div class="w-full px-6 lg:px-20 xl:px-40">
            <div class="container mx-auto py-12">
                <div class="xl:flex flex-wrap justify-between">
                    <div class="w-11/12 xl:w-1/3 mx-auto lg:mx-0 xl:mx-0 mb-6 xl:mb-0">
                        <p class="text-gray-800 text-base">2020. All Rights Reserved</p>
                    </div>
                    <div class="w-11/12 xl:w-1/3 mx-auto lg:mx-0 xl:mx-0 mb-6 lg:mb-0 xl:mb-0">
                        <ul class="xl:flex lg:flex md:flex sm:flex justify-between">
                            <li class="text-gray-800 hover:text-gray-900 text-base mb-4 sm:mb-0"><a href="#">Terms of service</a></li>
                            <li class="text-gray-800 hover:text-gray-900 text-base mb-4 sm:mb-0"><a href="#">Privacy Policy</a></li>
                            <li class="text-gray-800 hover:text-gray-900 text-base mb-4 sm:mb-0"><a href="#">Security</a></li>
                            <li class="text-gray-800 hover:text-gray-900 text-base mb-4 sm:mb-0"><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="w-11/12 xl:w-1/3 lg:w-1/3 sm:w-1/6 sm:w-11/12 mx-auto lg:mx-0 xl:mx-0 mb-6 lg:mb-0 xl:mb-0 mt-8 lg:mt-8 xl:mt-0">
                        <div class="flex justify-start sm:justify-start xl:justify-end space-x-6 pr-2 xl:pr-0 lg:pr-0 md:pr-0 sm:pr-0">
                            <div>
                                <a href="#">
                                    <svg aria-label="Twitter" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">
                                        <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <svg aria-label="Instagram" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
                                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <svg aria-label="Dribble" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dribbble" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <circle cx="12" cy="12" r="9" />
                                        <path d="M9 3.6c5 6 7 10.5 7.5 16.2" />
                                        <path d="M6.4 19c3.5-3.5 6-6.5 14.5-6.4" />
                                        <path d="M3.1 10.75c5 0 9.814-.38 15.314-5" />
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <svg aria-label="Github" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                                        <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer section ends here -->
        
        <script src="./assets/scripts/script.js"></script>
    </body>
</html>
