body {
    font-family: "Lato", sans-serif;
}
.background-radient {
    background: radial-gradient(100% 100% at 18.07% 10.27%, #4299e1 0%, #2b6cb0 100%);
}
.div-custom-border {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.div-custom-border2 {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.right-100 {
    animation: slideLeft 0.5s ease-in-out;
}
@keyframes slideLeft {
    0% {
        right: -100%;
    }
    100% {
        top: 0;
    }
}

* {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.vl {
    height: 480px;
}

.text-gray {
    color: #cbd5e0;
}
.alignTop td {
    vertical-align: top;
}
#myChart {
    width:"1023px";
    height:"386px";
}
