html{
    scroll-behavior:smooth;
}
.f-f-l {
    font-family: "Roboto", sans-serif;
}
.f-f-d-s {
    font-family: "DM Serif Display", serif;
}
.font-lato {
    font-family: "Lato", sans-serif;
}
.ml-32rem{
    margin-left: -32rem;
}
.h-33rem{
    height: 33rem;
}
.background-color {
    background: #334048;
}
.text-color-heading {
    color: #334048;
}
.text-color-para {
    color: #636363;
}
.background-color-setion-2-divs {
    background: #edeeef;
}
.custom-height {
    min-height: 808px;
}
.custom-design {
    width: 30.313rem;
    height: 250px;
}

.custom-height-section6_1 {
    height: 476px;
    width: 444px;
}
.custom-height-section6_2 {
    height: 376px;
    width: 644px;
}
.custom-width_about_us {
    width: 440px;
}
.custom-height-section6_3 {
    width: 648px;
    height: 420px;
}
.custom-design-mobile {
    width: 200px;
    height: 80px;
}
.border-black-color {
    border-color: #334048;
}
.bg-img-border-color {
    border-color: #334048, 30%;
}
.text-black-color {
    color: #334048;
}
.Text_para {
    color: #636363;
}
.color-white {
    color: #e2e8f0;
}
.dot-color {
    color: #c4c4c4;
}
.leading-3rem {
    line-height: 3rem;
}
.custom-height-hero {
    height: 828px;
}
.btn-bg {
    background-color: #202b32;
}
.custom-gray-800{
    color: #1A202C;
}
/* Slider css below */

.slider {
    width: 100%;
    height: 428px;
    position: relative;
    overflow: hidden;
}
.slider2 {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.slide-ana,
.slide-ana2 {
    height: 100%;
}

.slide-ana > div,
.slide-ana2 > div {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
}

@media (min-width: 300px) and (max-width: 1023px) {
    .slider {
        height: 450px;
    }
    .ml-32rem{
        margin-left: 0;
    }
    .h-33rem{
        height: auto;
    }
}
@media (min-width: 1023px) and (max-width: 1439px) {
    .ml-32rem{
        margin-left: -20rem;
    }
    .h-33rem{
        height: 26rem;
    }
    .xl\:text-8xl {
        font-size: 3rem;
        line-height: 1;
    }
}
@media (min-width: 300px) and (max-width: 1023px) {
    .slider2 {
        height: 550px;
    }
}
@media (min-width: 1280px) and (max-width: 1439px) {
    .xl\:max-w-2xl {
        max-width: 39rem;
    }
}

@media (min-width: 1440px) {
    .ml-32rem{
        margin-left: -32rem;
    }
    .h-33rem{
        height: 33rem;
    }
}

/* Mobile Responsive Menu */
.top-100 {
    animation: slideDown 0.5s ease-in-out;
}
@keyframes slideDown {
    0% {
        top: -50%;
    }
    100% {
        top: 0;
    }
}
* {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
