.f-f-l {
    font-family: "Lato", sans-serif;
}
.f-f-r {
    font-family: "Raleway", sans-serif;
}
.bg-linear-button {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}
.bg-linear-button:hover {
    background: rgba(255, 255, 255, 0.5);
}
.bg-linear-button-home {
    background: linear-gradient(91.12deg, #f56565 0%, #e55278 53.57%, #d53f8c 100%);
    border-radius: 6px;
}
.bg-linear-button-home:hover {
    background: linear-gradient(91.12deg, #f56565 0%, #f56565, #f56565);
    border-radius: 6px;
}
.bg-linear-button-about-us {
    background: linear-gradient(91.12deg, #f56565 0%, #e55278 53.57%, #d53f8c 100%);
    border-radius: 6px;
}
.bg-linear-button-about-us:hover {
    background: linear-gradient(91.12deg, #f56565, #f56565, #f56565);
    border-radius: 6px;
}

.bg-button-color-about-us {
    background-color: #edf2f7;
}
.bg-button-color-about-us:hover {
    background-color: #c9ced3;
}
.bg-linear-member {
    background: linear-gradient(90deg, #ff8584 0%, #def2bc 100%);
}
.bg-linear-about-us {
    background: linear-gradient(180deg, #ff8584 0%, #ecaa7b 100%);
}
.text-color-1 {
    color: #1a202c;
}
.text-color-1:hover {
    color: #f56565;
}
.text-color {
    color: #1a202c;
}
.text-color-lighter {
    color: #4a5568;
}
.text-color-knowledge-base-links {
    color: #2c66e4;
}
.text-color-pink {
    color: #d53f8c;
}
.text-color-gradient {
    background: -webkit-linear-gradient(360deg,rgba(245, 101, 101, 1), rgba(229, 82, 120, 1), rgba(213, 63, 140, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-linear-pink {
    background: linear-gradient(180deg, #fdf7f7 72.11%, rgba(253, 247, 247, 0) 91.57%);
}
.bg-linear-pink-invert {
    background: linear-gradient(0deg, #fdf7f7 72.11%, rgba(253, 247, 247, 0) 91.57%);
}
.min-height-images {
    min-height: 600px;
}

.background-brands {
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}
.top-100 {
    animation: slideDown 0.5s ease-in-out;
}
@keyframes slideDown {
    0% {
        top: -50%;
    }
    100% {
        top: 0;
    }
}
* {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.text-color-dark {
    color: #2d3748;
}
