<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="./assets/css/index.css" />
        <title>Contact</title>
    </head>
    <body>
        <div>
            <div>
                <div class="relative z-20 mx-auto container  2xl:px-0 xl:px-16 px-4">
                    <nav>
                        <div class="hidden lg:flex items-center relative justify-between pt-10">
                            <a href="./home.html"><img src="https://cdn.tuk.dev/assets/templates/radian/Logo.png" /></a>
                            <ul class="flex">
                                <li class="text-lg text-dark tracking-wide">
                                    <a href="./home.html">Home</a>
                                </li>
                                <li class="text-lg text-dark tracking-wide ml-8">
                                    <a href="./work.html">About Us</a>
                                </li>
                                <li class="text-lg text-dark tracking-wide ml-8">
                                    <a href="./projects.html">Projects</a>
                                </li>
                                <li class="text-lg text-dark tracking-wide ml-8">
                                    <a href="./testimonials.html">Clients</a>
                                </li>
                                <li class="text-lg text-dark tracking-wide ml-8">
                                    <a href="./team.html">Team</a>
                                </li>
                                <li class="text-lg text-indigo font-bold tracking-wide ml-8">
                                    <a href="./contacts.html">Contacts</a>
                                </li>
                            </ul>
                            <div class="flex items-center">
                                <svg class="text-dark cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 20 24" fill="none">
                                    <path
                                        d="M16.3641 17.2538L11.5907 22.3037C11.1689 22.7495 10.5969 23 10.0006 23C9.40422 23 8.83227 22.7495 8.41038 22.3037L3.63588 17.2538C2.37725 15.9222 1.52013 14.2256 1.1729 12.3787C0.825673 10.5317 1.00393 8.61734 1.68513 6.87757C2.36633 5.1378 3.51989 3.6508 4.99992 2.6046C6.47995 1.5584 8.21999 1 10 1C11.78 1 13.5201 1.5584 15.0001 2.6046C16.4801 3.6508 17.6337 5.1378 18.3149 6.87757C18.9961 8.61734 19.1743 10.5317 18.8271 12.3787C18.4799 14.2256 17.6227 15.9222 16.3641 17.2538Z"
                                        fill="white"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path d="M10 14.0912C11.864 14.0912 13.375 12.4926 13.375 10.5207C13.375 8.54877 11.864 6.9502 10 6.9502C8.13607 6.9502 6.62503 8.54877 6.62503 10.5207C6.62503 12.4926 8.13607 14.0912 10 14.0912Z" fill="white" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="ml-6 text-dark cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="27" height="24" viewBox="0 0 27 24" fill="none">
                                    <path d="M1 23.1113L2.80415 17.7288C1.24487 15.4354 0.680795 12.7194 1.2168 10.086C1.75281 7.45252 3.35242 5.08073 5.71823 3.41159C8.08403 1.74245 11.055 0.889551 14.0788 1.01148C17.1026 1.1334 19.9735 2.22185 22.1575 4.07445C24.3416 5.92705 25.6903 8.41772 25.9529 11.0834C26.2155 13.7491 25.374 16.4083 23.585 18.5667C21.796 20.7251 19.1812 22.2358 16.2268 22.8178C13.2723 23.3999 10.1792 23.0138 7.5227 21.7312L1 23.1113Z" fill="white" />
                                    <path d="M1 23.1113L2.80415 17.7288C1.24487 15.4354 0.680795 12.7194 1.2168 10.086C1.75281 7.45252 3.35242 5.08073 5.71823 3.41159C8.08403 1.74245 11.055 0.889551 14.0788 1.01148C17.1026 1.1334 19.9735 2.22185 22.1575 4.07445C24.3416 5.92705 25.6903 8.41772 25.9529 11.0834C26.2155 13.7491 25.374 16.4083 23.585 18.5667C21.796 20.7251 19.1812 22.2358 16.2268 22.8178C13.2723 23.3999 10.1792 23.0138 7.5227 21.7312L1 23.1113" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M13.4904 12.0703V12.0848" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M7.93872 12.0703V12.0848" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M19.0416 12.0703V12.0848" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="ml-6 text-dark cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M3.58824 1H8.76471L11.3529 7.47059L8.11765 9.41177C9.50359 12.222 11.778 14.4964 14.5882 15.8824L16.5294 12.6471L23 15.2353V20.4118C23 21.0982 22.7273 21.7565 22.2419 22.2419C21.7565 22.7273 21.0982 23 20.4118 23C15.3638 22.6932 10.6026 20.5496 7.02648 16.9735C3.45042 13.3974 1.30677 8.63625 1 3.58824C1 2.90179 1.27269 2.24346 1.75808 1.75808C2.24346 1.27269 2.90179 1 3.58824 1Z" fill="white" />
                                    <path d="M3.58824 1H8.76471L11.3529 7.47059L8.11765 9.41176C9.50359 12.222 11.778 14.4964 14.5882 15.8824L16.5294 12.6471L23 15.2353V20.4118C23 21.0982 22.7273 21.7565 22.2419 22.2419C21.7565 22.7273 21.0982 23 20.4118 23C15.3638 22.6932 10.6026 20.5496 7.02648 16.9735C3.45042 13.3974 1.30677 8.63625 1 3.58824C1 2.90179 1.27269 2.24346 1.75808 1.75808C2.24346 1.27269 2.90179 1 3.58824 1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </nav>
                    <nav class="lg:hidden relative z-20 bg-white">
                        <div class="flex pt-4 justify-between items-center">
                            <a href="./home.html"><img src="https://cdn.tuk.dev/assets/templates/radian/Logo.png" alt="logo" /></a>
                            <div class="visible flex items-center">
                                <ul id="list" class="hidden p-2 border-r bg-white absolute rounded top-0 left-0 right-0 shadow mt-16 md:mt-16">
                                    <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                                        <a href="./home.html">
                                            <span class="ml-2 font-bold">Home</span>
                                        </a>
                                    </li>
                                    <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                        <a href="./work.html">
                                            <span class="ml-2 font-bold">About Us</span>
                                        </a>
                                    </li>
                                    <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                                        <a href="./projects.html">
                                            <span class="ml-2 font-bold">Projects</span>
                                        </a>
                                    </li>
                                    <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                        <a href="./testimonials.html">
                                            <span class="ml-2 font-bold">Clients</span>
                                        </a>
                                    </li>
                                    <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                        <a href="./team.html">
                                            <span class="ml-2 font-bold">Team</span>
                                        </a>
                                    </li>
                                    <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal pt-2 pb-4 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                        <a href="./contacts.html">
                                            <span class="ml-2 font-bold">Contacts</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="xl:hidden">
                                    <svg id="open" onclick="MenuHandler(true)" aria-haspopup="true" aria-label="Main Menu" xmlns="http://www.w3.org/2000/svg" class="show-m-menu icon icon-tabler icon-tabler-menu" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <line x1="4" y1="8" x2="20" y2="8"></line>
                                        <line x1="4" y1="16" x2="20" y2="16"></line>
                                    </svg>
                                    <div id="close" class="hidden close-m-menu" onclick="MenuHandler(false)">
                                        <svg aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" />
                                            <line x1="18" y1="6" x2="6" y2="18" />
                                            <line x1="6" y1="6" x2="18" y2="18" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="mt-4 lg:mt-16 xl:pb-16 relative">
                    <img src="https://cdn.tuk.dev/assets/templates/radian/Back_Image.png" class="h-2/5 lg:h-full w-full lg:w-1/2 absolute inset-0 bg-cover bg-center" alt="map" />
                    <div class="mx-auto container flex flex-wrap items-center relative 2xl:px-0 xl:px-16 px-4">
                        <div class="flex flex-wrap mx-auto container">
                            <div class="w-full relative lg:w-1/2 my-10 2xl:pr-24 2xl:pl-0 xl:pl-12 pl-0">
                                <div class="w-full flex flex-col items-start 2xl:items-end xl:justify-start 2xl:justify-end">
                                    <h1 class="text-4xl md:text-5xl lg:text-7xl font-bold tracking-wider text-dark2">We’re Here</h1>
                                    <div class="w-full md:w-8/12 mt-3">
                                        <h2 class="text-dark2 text-base md:text-lg leading-8 tracking-wider">We believe digital innovation is at the heart of every business success</h2>
                                        <div class="mt-4 md:mt-8">
                                            <h2 class="text-sm md:text-base text-indigo2 font-semibold">Address</h2>
                                            <h2 class="text-dark2 text-base md:text-lg leading-8 tracking-wider mt-2">Office #13, NSTP, NUST University H-12 Sector, Islamabad</h2>
                                        </div>
                                        <div class="mt-4 md:mt-8">
                                            <h2 class="text-sm md:text-base text-indigo2 font-semibold">Contact</h2>
                                            <h2 class="text-dark2 text-base md:text-lg leading-8 tracking-wider mt-2">+92 051 4567890 (Phone)</h2>
                                            <h2 class="text-dark2 text-base md:text-lg leading-8 tracking-wider mt-2">+92 123 4567890 (Cell)</h2>
                                        </div>
                                        <div class="mt-4 md:mt-8">
                                            <h2 class="text-sm md:text-base text-indigo2 font-semibold">Email</h2>
                                            <h2 class="text-dark2 text-base md:text-lg leading-8 tracking-wider mt-2">alphasquad@example.com</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:w-1/2 pt-10 sm:pt-12 md:pt-10 lg:pl-24">
                                <div class="flex flex-col items-start xl:justify-start 2xl:justify-end">
                                    <h1 class="text-4xl md:text-5xl lg:text-7xl font-bold tracking-wider text-indigo2">Let’s Talk</h1>
                                    <div class="w-full 2xl:w-8/12 mt-3">
                                        <h2 class="text-dark2 text-base md:text-lg leading-8 tracking-wider">For enquiries, please email us using the form below</h2>
                                        <div class="mt-4 md:mt-8">
                                            <p class="text-dark2 text-base font-medium">Name</p>
                                            <input class="mt-3 text-base border-2 w-11/12 lg:w-full xl:w-10/12 hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-black py-5 pl-4 text-dark2" type="text" placeholder="Justin Timberlake" />
                                        </div>
                                        <div class="mt-4 md:mt-8">
                                            <p class="text-dark2 text-base font-medium">Email Address</p>
                                            <input class="mt-3 text-base border-2 w-11/12 lg:w-full xl:w-10/12 hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-black py-5 pl-4 text-dark2" type="email" placeholder="example@mail.com" />
                                        </div>
                                        <div class="mt-4 md:mt-8">
                                            <p class="text-dark2 text-base font-medium">Message</p>
                                            <textarea class="mt-3 text-base border-2 w-11/12 lg:w-full xl:w-10/12 resize-none hover:border-indigo-600 focus:border-indigo-600 focus:outline-none border-black xl:h-40 py-5 pl-4 text-dark2" type="text" placeholder="Write us something..."></textarea>
                                        </div>
                                        <div class="mt-5">
                                            <button class="py-3 md:py-5 px-5 md:px-10 bg-dark text-white hover:opacity-90 ease-in duration-150 text-sm md:text-lg tracking-wider font-semibold">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row xl:flex-col w-full xl:w-auto items-center 2xl:-mr-20 justify-center relative xl:absolute right-0 2xl:px-0 px-8">
                            <a class="hidden xl:block" href="./team.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="19" viewBox="0 0 35 19" fill="none">
                                    <path d="M1 18L17.5 1L34 18" stroke="#718096" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                            <a class="xl:hidden" href="./team.html">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <polyline points="15 6 9 12 15 18" />
                                </svg>
                            </a>
                            <div class="flex items-center xl:flex-col justify-center  py-16">
                                <a href="./home.html">
                                    <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray"></div>
                                </a>
                                <a href="./work.html">
                                    <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray xl:mt-10"></div>
                                </a>
                                <a href="./projects.html">
                                    <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray xl:mt-10"></div>
                                </a>
                                <a href="./testimonials.html">
                                    <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray xl:mt-10"></div>
                                </a>
                                <a href="./team.html">
                                    <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray xl:mt-10"></div>
                                </a>
                                <a href="./contacts.html">
                                    <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-indigo xl:mt-10"></div>
                                </a>
                            </div>
                            <a class="hidden xl:block" href="./home.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="18" viewBox="0 0 35 18" fill="none">
                                    <path d="M34 1L17.5 17L1 1" stroke="#718096" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                            <a class="ml-5 xl:hidden" href="./home.html">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <polyline points="9 6 15 12 9 18" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./assets/js/script.js"></script>
    </body>
</html>
