<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="./assets/css/index.css" />
        <title>Projects</title>
    </head>
    <body>
        <div class="2xl:mx-auto 2xl:container xl:px-0 px-4">
            <nav>
                <div class="hidden lg:flex items-center justify-between pt-10 2xl:px-0 xl:px-20 px-0">
                    <a href="./home.html">
                        <img src="https://cdn.tuk.dev/assets/templates/radian/Logo.png" />
                    </a>
                    <ul class="flex">
                        <li class="text-lg text-dark tracking-wide">
                            <a href="./home.html">Home</a>
                        </li>
                        <li class="text-lg text-dark tracking-wide ml-8">
                            <a href="./work.html">About Us</a>
                        </li>
                        <li class="text-lg font-bold text-indigo tracking-wide ml-8">
                            <a href="./projects.html">Projects</a>
                        </li>
                        <li class="text-lg text-dark tracking-wide ml-8">
                            <a href="./testimonials.html">Clients</a>
                        </li>
                        <li class="text-lg text-dark tracking-wide ml-8">
                            <a href="./team.html">Team</a>
                        </li>
                        <li class="text-lg text-dark tracking-wide ml-8">
                            <a href="./contacts.html">Contacts</a>
                        </li>
                    </ul>
                    <div class="flex items-center">
                        <svg class="text-dark cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 20 24" fill="none">
                            <path
                                d="M16.3641 17.2538L11.5907 22.3037C11.1689 22.7495 10.5969 23 10.0006 23C9.40422 23 8.83227 22.7495 8.41038 22.3037L3.63588 17.2538C2.37725 15.9222 1.52013 14.2256 1.1729 12.3787C0.825673 10.5317 1.00393 8.61734 1.68513 6.87757C2.36633 5.1378 3.51989 3.6508 4.99992 2.6046C6.47995 1.5584 8.21999 1 10 1C11.78 1 13.5201 1.5584 15.0001 2.6046C16.4801 3.6508 17.6337 5.1378 18.3149 6.87757C18.9961 8.61734 19.1743 10.5317 18.8271 12.3787C18.4799 14.2256 17.6227 15.9222 16.3641 17.2538Z"
                                fill="white"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path d="M10 14.0912C11.864 14.0912 13.375 12.4926 13.375 10.5207C13.375 8.54877 11.864 6.9502 10 6.9502C8.13607 6.9502 6.62503 8.54877 6.62503 10.5207C6.62503 12.4926 8.13607 14.0912 10 14.0912Z" fill="white" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <svg class="ml-6 text-dark cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="27" height="24" viewBox="0 0 27 24" fill="none">
                            <path d="M1 23.1113L2.80415 17.7288C1.24487 15.4354 0.680795 12.7194 1.2168 10.086C1.75281 7.45252 3.35242 5.08073 5.71823 3.41159C8.08403 1.74245 11.055 0.889551 14.0788 1.01148C17.1026 1.1334 19.9735 2.22185 22.1575 4.07445C24.3416 5.92705 25.6903 8.41772 25.9529 11.0834C26.2155 13.7491 25.374 16.4083 23.585 18.5667C21.796 20.7251 19.1812 22.2358 16.2268 22.8178C13.2723 23.3999 10.1792 23.0138 7.5227 21.7312L1 23.1113Z" fill="white" />
                            <path d="M1 23.1113L2.80415 17.7288C1.24487 15.4354 0.680795 12.7194 1.2168 10.086C1.75281 7.45252 3.35242 5.08073 5.71823 3.41159C8.08403 1.74245 11.055 0.889551 14.0788 1.01148C17.1026 1.1334 19.9735 2.22185 22.1575 4.07445C24.3416 5.92705 25.6903 8.41772 25.9529 11.0834C26.2155 13.7491 25.374 16.4083 23.585 18.5667C21.796 20.7251 19.1812 22.2358 16.2268 22.8178C13.2723 23.3999 10.1792 23.0138 7.5227 21.7312L1 23.1113" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13.4904 12.0703V12.0848" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M7.93872 12.0703V12.0848" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M19.0416 12.0703V12.0848" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <svg class="ml-6 text-dark cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M3.58824 1H8.76471L11.3529 7.47059L8.11765 9.41177C9.50359 12.222 11.778 14.4964 14.5882 15.8824L16.5294 12.6471L23 15.2353V20.4118C23 21.0982 22.7273 21.7565 22.2419 22.2419C21.7565 22.7273 21.0982 23 20.4118 23C15.3638 22.6932 10.6026 20.5496 7.02648 16.9735C3.45042 13.3974 1.30677 8.63625 1 3.58824C1 2.90179 1.27269 2.24346 1.75808 1.75808C2.24346 1.27269 2.90179 1 3.58824 1Z" fill="white" />
                            <path d="M3.58824 1H8.76471L11.3529 7.47059L8.11765 9.41176C9.50359 12.222 11.778 14.4964 14.5882 15.8824L16.5294 12.6471L23 15.2353V20.4118C23 21.0982 22.7273 21.7565 22.2419 22.2419C21.7565 22.7273 21.0982 23 20.4118 23C15.3638 22.6932 10.6026 20.5496 7.02648 16.9735C3.45042 13.3974 1.30677 8.63625 1 3.58824C1 2.90179 1.27269 2.24346 1.75808 1.75808C2.24346 1.27269 2.90179 1 3.58824 1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </nav>
            <nav class="lg:hidden relative z-20">
                <div class="flex pt-4 justify-between items-center">
                    <a href="./home.html"><img src="https://cdn.tuk.dev/assets/templates/radian/Logo.png" /></a>
                    <div class="visible flex items-center">
                        <ul id="list" class="hidden p-2 border-r bg-white absolute rounded top-0 left-0 right-0 shadow mt-16 md:mt-16">
                            <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                                <a href="./home.html">
                                    <span class="ml-2 font-bold">Home</span>
                                </a>
                            </li>
                            <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                <a href="./work.html">
                                    <span class="ml-2 font-bold">About Us</span>
                                </a>
                            </li>
                            <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                                <a href="./projects.html">
                                    <span class="ml-2 font-bold">Projects</span>
                                </a>
                            </li>
                            <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                <a href="./testimonials.html">
                                    <span class="ml-2 font-bold">Clients</span>
                                </a>
                            </li>
                            <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                <a href="./team.html">
                                    <span class="ml-2 font-bold">Team</span>
                                </a>
                            </li>
                            <li class="flex flex-col cursor-pointer text-gray-600 text-sm leading-3 tracking-normal pt-2 pb-4 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex justify-center" onclick="dropdownHandler(this)">
                                <a href="./contacts.html">
                                    <span class="ml-2 font-bold">Contacts</span>
                                </a>
                            </li>
                        </ul>
                        <div class="xl:hidden">
                            <svg id="open" onclick="MenuHandler(true)" aria-haspopup="true" aria-label="Main Menu" xmlns="http://www.w3.org/2000/svg" class="show-m-menu icon icon-tabler icon-tabler-menu" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <line x1="4" y1="8" x2="20" y2="8"></line>
                                <line x1="4" y1="16" x2="20" y2="16"></line>
                            </svg>
                            <div id="close" class="hidden close-m-menu" onclick="MenuHandler(false)">
                                <svg aria-label="Close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <line x1="18" y1="6" x2="6" y2="18" />
                                    <line x1="6" y1="6" x2="18" y2="18" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="xl:flex flex-wrap items-center justify-between relative py-10 lg:py-28 2xl:px-0 xl:px-20 px-0">
                <div class="xl:w-1/2 w-full md:w-auto flex flex-col sm:items-center lg:items-start">
                    <div class="md:w-10/12 relative md:flex items-center justify-between">
                        <div class="md:flex items-center justify-between w-full">
                            <div class="transform mb-4 md:mb-0 lg:-ml-10 md:-rotate-90">
                                <p class="text-2xl font-semibold tracking-wider leading-normal text-gray-900">Projects</p>
                            </div>
                            <div class="md:pl-20">
                                <h1 class="hidden xl:block text-5xl font-bold tracking-wider text-dark2 uppercase">OUR<span class="text-indigo2"> WORK</span></h1>
                                <h1 class="xl:hidden text-4xl md:text-5xl lg:text-7xl font-bold tracking-wider text-dark2 uppercase">OUR<span class="text-indigo2"> WORK</span></h1>
                                <p class="text-dark2 leading-8 tracking-wide mt-6 text-base md:text-lg">We bring our A-team to every engagement, starting with the Alpha Way, our step-by-step formula .</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full md:flex-row items-center justify-start lg:justify-start md:justify-center mt-5 md:mt-24">
                        <img src="https://cdn.tuk.dev/assets/templates/radian/projects(1).png" alt="building project" class="md:w-auto w-full md:h-auto h-full object-center object-full" />
                        <div class="border border-black py-6 2xl:px-6 lg:px-4 px-6 md:w-1/6 2xl:w-1/5 text-base xl:text-2xl leading-9 tracking-wider lg:w-1/4 w-full">308 Negra Arroyo Lane, ABQ, New Mexico.</div>
                    </div>
                    <div class="flex flex-col md:flex-row w-full items-center justify-start lg:justify-start md:justify-center mt-5 md:mt-20">
                        <img src="https://cdn.tuk.dev/assets/templates/radian/projects(4).png" alt="building project" class="md:w-auto w-full md:h-auto h-full object-center object-full" />
                        <div class="border border-black py-6 2xl:px-6 lg:px-4 px-6 md:w-1/6 2xl:w-1/5 text-base xl:text-2xl leading-9 tracking-wider lg:w-1/4 w-full">308 Negra Arroyo Lane, ABQ, New Mexico.</div>
                    </div>
                    <div class="mt-5 xl:mt-24 mt-5 xl:mt-24 xl:block flex items-center md:justify-end justify-center w-full xl:block hidden">
                        <button class="py-4 px-6 shadow-xl text-lg tracking-wider text-white hover:opacity-90 ease-in duration-150 flex border border-black items-center bg-dark">
                            View All Projects
                            <div class="w-8 h-8 rounded-full border border-black flex items-center cursor-pointer justify-center ml-5 md:ml-10 bg-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                                    <path d="M0.827637 7.0004H11.6896" stroke="#1A202C" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M7.03418 1.4741L11.6893 7.0004" stroke="#1A202C" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M7.03427 12.5265L11.6894 7.00022" stroke="#1A202C" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="xl:w-1/2 w-full md:w-auto flex flex-col mt-5 md:mt-10 xl:mt-0">
                    <div class="flex flex-col md:flex-row flex-col-reverse items-center justify-center lg:justify-end relative">
                        <div class="border border-black py-6 2xl:px-6 lg:px-4 px-6 md:w-1/6 2xl:w-1/5 text-base xl:text-2xl leading-9 tracking-wider lg:w-1/4 w-full">308 Negra Arroyo Lane, ABQ, New Mexico.</div>
                        <img src="https://cdn.tuk.dev/assets/templates/radian/projects(2).png" alt="building project" class="md:w-auto w-full md:h-auto h-full object-center object-full" />
                        <div class="absolute z-10 right-0 bottom-0 pb-36 sm:pb-28 sm:pr-10 lg:pr-0 xl:-mr-8 md:pb-8">
                            <button class="py-4 px-6 shadow-xl text-lg tracking-wider text-dark2 hover:bg-gray-200 ease-in duration-150 flex border border-black items-center bg-white">
                                View Project
                                <div class="w-8 h-8 rounded-full border border-black flex items-center cursor-pointer justify-center ml-10">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                                        <path d="M0.827637 7.0004H11.6896" stroke="#1A202C" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.03418 1.4741L11.6893 7.0004" stroke="#1A202C" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.03427 12.5265L11.6894 7.00022" stroke="#1A202C" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-col flex-col-reverse md:flex-row items-center justify-center lg:justify-end mt-5 md:mt-20">
                        <div class="border border-black py-6 2xl:px-6 lg:px-4 px-6 md:w-1/6 2xl:w-1/5 text-base xl:text-2xl leading-9 tracking-wider lg:w-1/4 w-full">308 Negra Arroyo Lane, ABQ, New Mexico.</div>
                        <img src="https://cdn.tuk.dev/assets/templates/radian/projects(3).png" alt="building project" class="md:w-auto w-full md:h-auto h-full object-center object-full" />
                    </div>
                    <div class="flex flex-col flex-col-reverse md:flex-row items-center justify-center lg:justify-end mt-5 md:mt-20">
                        <div class="border border-black py-6 2xl:px-6 lg:px-4 px-6 md:w-1/6 2xl:w-1/5 text-base xl:text-2xl leading-9 tracking-wider lg:w-1/4 w-full">308 Negra Arroyo Lane, ABQ, New Mexico.</div>
                        <img src="https://cdn.tuk.dev/assets/templates/radian/projects(5).png" alt="building project" class="md:w-auto w-full md:h-auto h-full object-center object-full" />
                    </div>
                    <div class="mt-5 xl:mt-24 mt-5 xl:mt-24 xl:block flex items-center  justify-center md:justify-end md:pr-14 w-full xl:hidden block">
                        <button class="py-2 px-3 shadow-xl text-base tracking-wider text-white hover:bg-gray-200 ease-in duration-150 flex border border-black items-center bg-dark">
                            View All Projects
                            <div class="w-8 h-8 rounded-full border border-black flex items-center cursor-pointer justify-center ml-5 md:ml-10 bg-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                                    <path d="M0.827637 7.0004H11.6896" stroke="#1A202C" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M7.03418 1.4741L11.6893 7.0004" stroke="#1A202C" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M7.03427 12.5265L11.6894 7.00022" stroke="#1A202C" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="flex flex-row xl:flex-col w-full xl:w-auto items-center 2xl:-mr-20 justify-center relative xl:absolute right-0 2xl:px-0 xl:px-4 px-0">
                    <a class="hidden xl:block" href="./work.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="19" viewBox="0 0 35 19" fill="none">
                            <path d="M1 18L17.5 1L34 18" stroke="#718096" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <a class="xl:hidden" href="./work.html">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="15 6 9 12 15 18" />
                        </svg>
                    </a>
                    <div class="flex items-center xl:flex-col justify-center  py-16">
                        <a href="./home.html">
                            <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray"></div>
                        </a>
                        <a href="./work.html">
                            <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray xl:mt-10"></div>
                        </a>
                        <a href="./projects.html">
                            <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-indigo xl:mt-10"></div>
                        </a>
                        <a href="./testimonials.html">
                            <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray xl:mt-10"></div>
                        </a>
                        <a href="./team.html">
                            <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray xl:mt-10"></div>
                        </a>
                        <a href="./contacts.html">
                            <div class="w-5 h-5 rounded-full ml-5 xl:ml-0 bg-gray xl:mt-10"></div>
                        </a>
                    </div>
                    <a class="hidden xl:block" href="./testimonials.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="18" viewBox="0 0 35 18" fill="none">
                            <path d="M34 1L17.5 17L1 1" stroke="#718096" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    <a class="ml-5 xl:hidden" href="./testimonials.html">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <polyline points="9 6 15 12 9 18" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <script src="./assets/js/script.js"></script>
    </body>
</html>
