<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div class="max-w-2xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="max-w-3xl">
      <h2 id="features-heading" class="font-medium text-gray-500">Focus</h2>
      <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Simple productivity</p>
      <p class="mt-4 text-gray-500">Focus allows you to plan 10 daily tasks, while also thinking ahead about what's next. Forget distracting digital apps and embrace these small, sturdy pieces of paper.</p>
    </div>

    <div class="mt-11 grid items-start grid-cols-1 gap-y-16 gap-x-6 sm:mt-16 sm:grid-cols-2 lg:grid-cols-4 lg:gap-x-8">
      <div class="flex flex-col-reverse">
        <div class="mt-6">
          <h3 class="text-sm font-medium text-gray-900">Three card types</h3>
          <p class="mt-2 text-sm text-gray-500">Today, Next, and Someday cards allow you to defer your dreams into the future.</p>
        </div>
        <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden">
          <img src="https://tailwindui.com/img/ecommerce-images/product-feature-08-detail-01.jpg" alt="Green cardstock box containing white, beige, and brown cards." class="object-center object-cover">
        </div>
      </div>

      <div class="flex flex-col-reverse">
        <div class="mt-6">
          <h3 class="text-sm font-medium text-gray-900">The perfect mix</h3>
          <p class="mt-2 text-sm text-gray-500">Each refill pack contains plenty of cards to last you a month of procrastination.</p>
        </div>
        <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden">
          <img src="https://tailwindui.com/img/ecommerce-images/product-feature-08-detail-02.jpg" alt="Green cardstock box open with 50 cards inside." class="object-center object-cover">
        </div>
      </div>

      <div class="flex flex-col-reverse">
        <div class="mt-6">
          <h3 class="text-sm font-medium text-gray-900">Dot grid backs</h3>
          <p class="mt-2 text-sm text-gray-500">Flip a card over to doodle during meetings when you should be listening.</p>
        </div>
        <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden">
          <img src="https://tailwindui.com/img/ecommerce-images/product-feature-08-detail-03.jpg" alt="Detail of white today card, beige next card, and brown someday card with dot grid." class="object-center object-cover">
        </div>
      </div>

      <div class="flex flex-col-reverse">
        <div class="mt-6">
          <h3 class="text-sm font-medium text-gray-900">Refill packs</h3>
          <p class="mt-2 text-sm text-gray-500">Subscribe and save on routine refill packs to keep you productive all year long.</p>
        </div>
        <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden">
          <img src="https://tailwindui.com/img/ecommerce-images/product-feature-08-detail-04.jpg" alt="Stack of three green cardstock boxes with 3 hole cutouts showing cards inside." class="object-center object-cover">
        </div>
      </div>
    </div>
  </div>
</div>
