html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.custom-foreground-color {
  color: #f56565;
}
.custom-border-bottom {
  border-bottom: 2px solid #f56565;
}
@font-face {
  font-family: "Sf-ui-pro";
  src: url("/assets/sf-ui-display-medium-58646be638f96.otf") format("opentype");
  font-style: normal;
}
.Sf-ui-pro {
  font-family: "Sf-ui-pro";
}
* {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
