body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif !important;
}
.custom-gray-800 {
    color: #1b1b1b;
}
.bg-custom-gray-800 {
    background-color: #1b1b1b;
}
.custom-gray-900 {
    color: #212121;
}
.text-80px {
    font-size: 80px;
    line-height: 80px;
}
.h-95vh {
    height: 95vh;
}
.text-40px {
    font-size: 40px;
}
.clr-gold {
    color: #ffac2f;
}
.bg-gold {
    background-color: #ffac2f;
}
.bg-gold-btn {
    background-color: #ffac2f;
}
.bg-gold-btn:hover {
    background-color: #f79b12;
}
.clr-dark-blue {
    color: #0036b4;
}
.bg-dark-blue {
    background-color: #0036b4;
}
.bg-dark-header {
    background-color: #0036b4;
}
.border-gray {
    border: 1px solid #ebebeb;
}
.border-gold {
    border: 1px solid #ffac2f;
}
.bg-lite-grey {
    background-color: #aeaeae;
}
.clr-lite-grey {
    color: #aeaeae;
}
.line {
    border-bottom: 1px solid #1b1b1b;
}
.checkbox:checked {
    right: 0;
    background-color: #ffac2f;
}

.bg-light-btn {
    background: rgba(0, 54, 180, 0.1);
}
.cus-border {
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
}
.bg-shape {
    background-color: #0097fe;
}
.bg-menu {
    background: #f2faff;
}
.b-b-l-r-16 {
    border-bottom-left-radius: 16rem;
}
@media (min-width: 320px) and (max-width: 1279px) {
    .b-b-l-r-16 {
        border-bottom-left-radius: 5rem;
    }
}
@media (min-width: 320px) and (max-width: 667px) {
    .text-80px {
        font-size: 40px;
        line-height: 40px;
    }
    .text-40px {
        font-size: 30px;
        line-height: 32px;
    }
}
/* Top menu */
.top-100 {
    animation: slideDown 0.5s ease-in-out;
}
@keyframes slideDown {
    0% {
        top: -50%;
    }
    100% {
        top: 0;
    }
}
* {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.purple {
    background-color: #4c51bf;
}

.text-purple {
    color: #4c51bf;
}
.bg-light-btn:hover {
    background: rgb(0 54 180 / 18%);
}
.bg-dark-blue:hover {
    background-color: #032f96;
}
.border-purple {
    border-color: #4c51bf;
}

/* Slider css below */
.slider {
    width: 100%;
    height: 600px;
    padding-top: 14px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.slider2 {
    width: 100%;
    height: 428px;
    padding-top: 14px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.slider3 {
    width: 100%;
    height: 500px;
    padding-top: 14px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide-ana,
.slide-ana2,
.slide-an3 {
    height: 100%;
}

.slide-ana > div,
.slide-ana2 > div,
.slide-ana3 > div {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .slider {
        height: 465px;
    }
    .slider2 {
        height: 570px;
    }
}
@media (min-width: 320px) and (max-width: 391px) {
    .slider2 {
        height: 600px;
    }
}
@media (min-width: 392px) and (max-width: 598px) {
    .slider2 {
        height: 490px;
    }
}
@media (min-width: 599px) and (max-width: 1023px) {
    .slider2 {
        height: 370px;
    }
}
