<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reels</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
        <link href="./assets/css/style.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Raleway:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">       
    </head>
    <body>
        <!-- Sidebar starts -->
        <div class="lg:w-96 w-64 z-40 fixed z-40 top-0 bg-color-black shadow min-h-screen flex-col justify-between pb-12 transition duration-150 ease-in-out" style="transform: translateX(-500px)" id="mobile-nav">
            <div class="lg:px-6 px-2">
                <div class="lg:px-6 px-2 flex items-center justify-between pt-16">
                    <a href="./home.html" class="cursor-pointer">
                        <img src="https://i.ibb.co/z7zB0mg/REELS.png" class="lg:w-28 w-16" />
                    </a>
                    <div class="cursor-pointer lg:block hidden" id="cross" onclick="{sidebarHandler(false)}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 40 40" fill="none">
                            <rect x="4.09033" y="0.0544434" width="50" height="5" rx="2.5" transform="rotate(45 4.09033 0.0544434)" fill="white" />
                            <rect x="0.554688" y="36.4097" width="50" height="5" rx="2.5" transform="rotate(-45 0.554688 36.4097)" fill="white" />
                        </svg>
                    </div>
                    <div class="cursor-pointer lg:hidden block" id="cross" onclick="{sidebarHandler(false)}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 40 40" fill="none">
                            <rect x="4.09033" y="0.0544434" width="50" height="5" rx="2.5" transform="rotate(45 4.09033 0.0544434)" fill="white" />
                            <rect x="0.554688" y="36.4097" width="50" height="5" rx="2.5" transform="rotate(-45 0.554688 36.4097)" fill="white" />
                        </svg>
                    </div>
                </div>
                <ul class="mt-36">
                    <a href="./home.html" class="cursor-pointer">
                        <li class="text-base font-bold text-off-white lg:py-6 py-3 lg:px-10 px-5 hover-gold rounded-full">Home</li>
                    </a>
                    <a href="./gallery.html" class="cursor-pointer">
                        <li class="text-base font-bold text-off-white lg:py-6 py-3 lg:px-10 px-5 hover-gold rounded-full my-6">Gallery</li>
                    </a>
                    <a href="./contact-us.html" class="cursor-pointer">
                        <li class="text-base font-bold bg-gold-color lg:py-6 py-3 lg:px-10 px-5 hover-gold text-color-black rounded-full">Contact</li>
                    </a>
                </ul>
            </div>
        </div>
        <!-- Sidebar ends -->
        <!-- Navbar -->
        <div class="mx-auto container relative xl:px-0 px-4 lg:block hidden">
            <div class="flex items-center pt-16 pb-16">
                <div class="pr-6">
                    <div class="cursor-pointer" id="menu" onclick="{sidebarHandler(true)}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="31" viewBox="0 0 50 31" fill="none">
                            <rect x="50" y="31" width="50" height="5" rx="2.5" transform="rotate(180 50 31)" fill="#251F2C" />
                            <rect x="50" y="5" width="50" height="5" rx="2.5" transform="rotate(180 50 5)" fill="#251F2C" />
                            <rect x="35" y="18" width="35" height="5" rx="2.5" transform="rotate(180 35 18)" fill="#251F2C" />
                        </svg>
                    </div>
                </div>
                <a href="./home.html" class="cursor-pointer">
                    <div>
                        <img src="https://i.ibb.co/rxRwqvX/REELS.png" class="w-28" />
                    </div>
                </a>
            </div>
        </div>
        <!-- mobile -->
        <nav class="lg:hidden">
            <div class="flex py-8 items-center px-4">
                <div class="pr-6">
                    <div class="cursor-pointer" id="menu" onclick="{sidebarHandler(true)}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 31" fill="none">
                            <rect x="50" y="31" width="50" height="5" rx="2.5" transform="rotate(180 50 31)" fill="#251F2C" />
                            <rect x="50" y="5" width="50" height="5" rx="2.5" transform="rotate(180 50 5)" fill="#251F2C" />
                            <rect x="35" y="18" width="35" height="5" rx="2.5" transform="rotate(180 35 18)" fill="#251F2C" />
                        </svg>
                    </div>
                </div>
                <a href="./home.html">
                    <div>
                        <img src="https://i.ibb.co/rxRwqvX/REELS.png" class="w-20" />
                    </div>
                </a>
            </div>
        </nav>
        <!-- Navbar -->
        <div class="xl:mx-auto xl:container">
            <h1 class="text-4xl font-bold text-color-black lg:mb-36 mb-16 xl:px-0 px-4">Contact Us</h1>
        </div>
        <!-- Form -->
        <div class="relative">
            <div class="bg-peach h-full w-1/2 absolute md:block hidden"></div>
            <div class="xl:mx-auto xl:px-0 px-4 xl:container bg-peach py-16 relative">
                <div class="lg:pr-72">
                    <p class="text-base lg:text-2xl font-light leading-10 text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, diam dui a a, massa id condimentum cursus. Consequat quis nulla netus lorem. Sagittis mauris fringilla adipiscing nunc risus est. Egestas urna turpis aliquam quam aenean a. Praesent elit mattis dignissim tempus nec aenean.</p>
                    <p></p>
                    <p class="lg:pt-16 pt-8 text-base lg:text-2xl font-light leading-10 text-color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc, diam dui a a, massa id condimentum cursus. Consequat quis nulla netus lorem. Sagittis mauris fringilla adipiscing nunc risus est. Egestas urna turpis aliquam quam aenean a. Praesent elit mattis dignissim tempus nec aenean.</p>
                    <p></p>
                    <div class="lg:mt-20 mt-10">
                        <div class="flex items-center">
                            <p class="text-base lg:text-2xl font-bold leading-10 text-color-black w-24">Email:</p>
                            <p class="text-base lg:text-2xl font-light leading-10 text-color-black">photography@picshots.com</p>
                        </div>
                        <div class="flex items-center lg:pt-7">
                            <p class="text-base lg:text-2xl font-bold leading-10 text-color-black w-24">Phone:</p>
                            <p class="text-base lg:text-2xl font-light leading-10 text-color-black">+925875656512</p>
                        </div>
                    </div>
                    <div class="flex flex-col lg:mt-14 mt-8">
                        <label class="text-base font-bold text-color-black uppercase">FIRST AND LAST NAME*</label>
                        <input class="border-b border-color-black bg-transparent sm:w-3/5 outline-none text-base lg:mt-24 mt-8 pl-5 text-color-black mb-14 pb-2" type="text" />
                    </div>
                    <div class="flex flex-col lg:mt-14">
                        <label class="text-base font-bold text-color-black uppercase">Email*</label>
                        <input class="border-b border-color-black bg-transparent sm:w-3/5 outline-none text-base lg:mt-24 mt-8 pl-5 text-color-black mb-14 pb-2" type="email" />
                    </div>
                    <div class="flex flex-col lg:mt-14">
                        <label class="text-base font-bold text-color-black uppercase">Phone No*</label>
                        <input class="border-b border-color-black bg-transparent sm:w-3/5 outline-none text-base lg:mt-24 mt-8 pl-5 text-color-black mb-14 pb-2" type="number" />
                    </div>
                    <div class="flex flex-col lg:mt-14">
                        <label class="text-base font-bold text-color-black uppercase">Potential Dates</label>
                        <input class="border-b border-color-black appearance-none bg-transparent sm:w-3/5 outline-none text-base lg:mt-24 mt-8 pl-5 text-color-black mb-14 pb-2" type="date" />
                    </div>
                    <div class="flex flex-col lg:mt-14">
                        <label class="text-base font-bold text-color-black uppercase">LOCATIONS(S)</label>
                        <input class="border-b border-color-black bg-transparent sm:w-3/5 outline-none text-base lg:mt-24 mt-8 pl-5 text-color-black mb-14 pb-2" type="text" />
                    </div>
                    <div class="flex flex-col lg:mt-14">
                        <label class="text-base font-bold text-color-black uppercase">WHAT TYPE OF PHOTOGRAPHY ARE YOU LOOKING FOR?*</label>
                        <div class="relative flex items-center justify-center sm:w-3/5">
                            <select class="border rounded-full border-color-black py-4 bg-transparent outline-none text-base mt-10 px-5 text-color-black mb-14 appearance-none relative w-full text-color-black">
                                <option class="py-4">All</option>
                                <option class="py-4">Professional</option>
                            </select>
                            <div class="absolute right-0 -mt-3 mr-4 pointer-events-none">
                                <svg aria-haspopup="true" aria-label="Main Menu" xmlns="http://www.w3.org/2000/svg" class="show-m-menu icon icon-tabler icon-tabler-menu" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </div>
                        </div>

                        <div class="flex flex-col lg:mt-14">
                            <label class="text-base font-bold text-color-black uppercase">Message</label>
                            <textarea class="border-b pt-24 border-color-black bg-transparent sm:w-3/5 outline-none text-base lg:h-64 h-24 resize-none pl-5 text-color-black mb-14"></textarea>
                        </div>
                        <div class="flex items-center md:justify-between justify-center">
                            <button class="text-base lg:text-2xl font-bold px-24 py-4 border-2 border-color-black rounded-full subscribe-btn lg:mb-36">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form -->

        <!-- Footer -->
        <div class="bg-peach py-14 lg:mt-36 mt-16">
            <div class="mx-auto container xl:px-0 px-4">
                <div class="lg:flex-row flex-col flex items-center lg:justify-between justify-center">
                    <div class="md:w-1/2 w-10/12">
                        <h1 class="lg:text-4xl text-base lg:text-2xl font-bold text-color-black lg:text-left text-center">Subscribe to our newsletter</h1>
                        <div class="w-full flex lg:flex-row flex-col lg:justify-start justify-center items-center mt-12">
                            <input class="holder border-2 border-color-black rounded-full text-color-black focus:outline-none text-base font-bold lg:w-7/12 w-full py-5 pl-6 bg-transparent" placeholder="Your Email" />
                            <button class="text-base lg:text-2xl font-bold lg:px-16 py-4 px-24 lg:ml-6 lg:mt-0 mt-4 border-2 border-color-black rounded-full subscribe-btn lg:w-auto sm:w-full">Subscribe</button>
                        </div>
                    </div>
                    <div>
                        <h1 class="lg:text-4xl text-base lg:text-2xl lg:mt-0 mt-8 font-bold text-color-black lg:text-left text-center">Follow us on our socials</h1>
                        <div class="items-center lg:mt-10 justify-between lg:flex hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" fill="none">
                                <path d="M48 12H24C17.3726 12 12 17.3726 12 24V48C12 54.6274 17.3726 60 24 60H48C54.6274 60 60 54.6274 60 48V24C60 17.3726 54.6274 12 48 12Z" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M36 45C40.9706 45 45 40.9706 45 36C45 31.0294 40.9706 27 36 27C31.0294 27 27 31.0294 27 36C27 40.9706 31.0294 45 36 45Z" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M49.5 22.5V22.503" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="69" viewBox="0 0 72 69" fill="none">
                                    <path d="M21 28.8807V40.2115H30V60.0405H42V40.2115H51L54 28.8807H42V23.2153C42 22.4641 42.3161 21.7435 42.8787 21.2123C43.4413 20.6811 44.2044 20.3826 45 20.3826H54V9.05182H45C41.0218 9.05182 37.2064 10.544 34.3934 13.2002C31.5804 15.8564 30 19.4589 30 23.2153V28.8807H21Z" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="69" viewBox="0 0 72 69" fill="none">
                                    <path d="M24 57.0964L36 31.6019" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M32.1 40.1C33.411 43.6777 36.39 45.7655 39.75 45.7655C45.963 45.7655 51 41.3634 51 34.4346C51.0026 32.3662 50.5253 30.3224 49.6018 28.4468C48.6783 26.5712 47.331 24.9093 45.6545 23.5781C43.978 22.2468 42.0131 21.2784 39.8978 20.7409C37.7825 20.2034 35.5682 20.1099 33.4106 20.467C31.253 20.824 29.2043 21.623 27.4087 22.8076C25.6131 23.9923 24.114 25.534 23.0169 27.3243C21.9198 29.1145 21.2513 31.11 21.0583 33.1703C20.8654 35.2307 21.1526 37.3059 21.9 39.2502" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M36 59.9291C50.9117 59.9291 63 48.5148 63 34.4346C63 20.3543 50.9117 8.94006 36 8.94006C21.0883 8.94006 9 20.3543 9 34.4346C9 48.5148 21.0883 59.9291 36 59.9291Z" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="flex items-center lg:mt-12 mt-4 lg:hidden lg:justify-left justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 72 72" fill="none">
                                <path d="M48 12H24C17.3726 12 12 17.3726 12 24V48C12 54.6274 17.3726 60 24 60H48C54.6274 60 60 54.6274 60 48V24C60 17.3726 54.6274 12 48 12Z" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M36 45C40.9706 45 45 40.9706 45 36C45 31.0294 40.9706 27 36 27C31.0294 27 27 31.0294 27 36C27 40.9706 31.0294 45 36 45Z" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M49.5 22.5V22.503" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <div class="px-8">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 72 69" fill="none">
                                    <path d="M21 28.8807V40.2115H30V60.0405H42V40.2115H51L54 28.8807H42V23.2153C42 22.4641 42.3161 21.7435 42.8787 21.2123C43.4413 20.6811 44.2044 20.3826 45 20.3826H54V9.05182H45C41.0218 9.05182 37.2064 10.544 34.3934 13.2002C31.5804 15.8564 30 19.4589 30 23.2153V28.8807H21Z" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 72 69" fill="none">
                                    <path d="M24 57.0964L36 31.6019" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M32.1 40.1C33.411 43.6777 36.39 45.7655 39.75 45.7655C45.963 45.7655 51 41.3634 51 34.4346C51.0026 32.3662 50.5253 30.3224 49.6018 28.4468C48.6783 26.5712 47.331 24.9093 45.6545 23.5781C43.978 22.2468 42.0131 21.2784 39.8978 20.7409C37.7825 20.2034 35.5682 20.1099 33.4106 20.467C31.253 20.824 29.2043 21.623 27.4087 22.8076C25.6131 23.9923 24.114 25.534 23.0169 27.3243C21.9198 29.1145 21.2513 31.11 21.0583 33.1703C20.8654 35.2307 21.1526 37.3059 21.9 39.2502" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M36 59.9291C50.9117 59.9291 63 48.5148 63 34.4346C63 20.3543 50.9117 8.94006 36 8.94006C21.0883 8.94006 9 20.3543 9 34.4346C9 48.5148 21.0883 59.9291 36 59.9291Z" stroke="#2C3E50" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <script src="./assets/js/index.js"></script>
    </body>
</html>
