<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>

    <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
      <div class="group relative bg-white border border-gray-200 rounded-lg flex flex-col overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 bg-gray-200 group-hover:opacity-75 sm:aspect-none sm:h-96">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-01.jpg" alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green." class="w-full h-full object-center object-cover sm:w-full sm:h-full">
        </div>
        <div class="flex-1 p-4 space-y-2 flex flex-col">
          <h3 class="text-sm font-medium text-gray-900">
            <a href="#">
              <span aria-hidden="true" class="absolute inset-0"></span>
              Basic Tee 8-Pack
            </a>
          </h3>
          <p class="text-sm text-gray-500">Get the full lineup of our Basic Tees. Have a fresh shirt all week, and an extra for laundry day.</p>
          <div class="flex-1 flex flex-col justify-end">
            <p class="text-sm italic text-gray-500">8 colors</p>
            <p class="text-base font-medium text-gray-900">$256</p>
          </div>
        </div>
      </div>

      <div class="group relative bg-white border border-gray-200 rounded-lg flex flex-col overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 bg-gray-200 group-hover:opacity-75 sm:aspect-none sm:h-96">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-02.jpg" alt="Front of plain black t-shirt." class="w-full h-full object-center object-cover sm:w-full sm:h-full">
        </div>
        <div class="flex-1 p-4 space-y-2 flex flex-col">
          <h3 class="text-sm font-medium text-gray-900">
            <a href="#">
              <span aria-hidden="true" class="absolute inset-0"></span>
              Basic Tee
            </a>
          </h3>
          <p class="text-sm text-gray-500">Look like a visionary CEO and wear the same black t-shirt every day.</p>
          <div class="flex-1 flex flex-col justify-end">
            <p class="text-sm italic text-gray-500">Black</p>
            <p class="text-base font-medium text-gray-900">$32</p>
          </div>
        </div>
      </div>

      <!-- More products... -->
    </div>
  </div>
</div>
