<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 overflow-hidden sm:py-24 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-x-8">
      <a href="#" class="group text-sm">
        <div class="w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden bg-gray-100 group-hover:opacity-75">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-01.jpg" alt="White fabric pouch with white zipper, black zipper pull, and black elastic loop." class="w-full h-full object-center object-cover">
        </div>
        <h3 class="mt-4 font-medium text-gray-900">Nomad Pouch</h3>
        <p class="text-gray-500 italic">White and Black</p>
        <p class="mt-2 font-medium text-gray-900">$50</p>
      </a>

      <a href="#" class="group text-sm">
        <div class="w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden bg-gray-100 group-hover:opacity-75">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-02.jpg" alt="Front of tote bag with washed black canvas body, black straps, and tan leather handles and accents." class="w-full h-full object-center object-cover">
        </div>
        <h3 class="mt-4 font-medium text-gray-900">Zip Tote Basket</h3>
        <p class="text-gray-500 italic">Washed Black</p>
        <p class="mt-2 font-medium text-gray-900">$140</p>
      </a>

      <a href="#" class="group text-sm">
        <div class="w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden bg-gray-100 group-hover:opacity-75">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-07-product-03.jpg" alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch." class="w-full h-full object-center object-cover">
        </div>
        <h3 class="mt-4 font-medium text-gray-900">Medium Stuff Satchel</h3>
        <p class="text-gray-500 italic">Blue</p>
        <p class="mt-2 font-medium text-gray-900">$220</p>
      </a>

      <!-- More products... -->
    </div>
  </div>
</div>
